<div class="info" id="info">
    <button class="accordion" id="accordion" style="font-size:5vmax;margin-top: 50px;">Videos
        <br>
        <i class="fa fa-angle-down" aria-hidden="true"></i>
        <i class="fa fa-angle-up" aria-hidden="true"></i>
    </button>
    <div class="panel vid">
    <div class="videosyou">
        <div class="imagen_evento">
            <iframe width="90%" height="300px" src="https://www.youtube.com/embed/ob8vJJdOV-4" frameborder="0" allowfullscreen></iframe>
        </div>
         <div class="imagen_evento">
            <iframe width=90% height="300px" src="https://www.youtube.com/embed/qkI8pQfyREM" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="imagen_evento">
            <iframe width="90%" height="300px" src="https://www.youtube.com/embed/ZC34qeUqJAs?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="imagen_evento">
            <iframe width="90%" height="300px" src="https://www.youtube.com/embed/akQOdm0OxOw?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="imagen_evento">
            <iframe width="90%" height="300px" src="https://www.youtube.com/embed/GQq6Wq1_29o?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="imagen_evento">
            <iframe width="90%" height="300px" src="https://www.youtube.com/embed/6aKWRNqBtQw?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="imagen_evento">

            <iframe width="90%" height="300px" src="https://www.youtube.com/embed/57ZWTKMNS60" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="imagen_evento">
            <iframe width="90%" height="300px" src="https://www.youtube.com/embed/_IrAp0p6Whg?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
       
        
    </div>
</div>


<div class="imagen_evento">
    <h1>Traumer - 3° Aniversario</h1>
    <%= link_to cl_image_tag("traumer/traumer066.jpg", class: "galerynav") , galery_traumer_path %>
</div>
<div class="imagen_evento">
    <h1>Cuartoscuro</h1>
    <%= link_to cl_image_tag("cuartoscuro/cuartoscuro_12.jpg", class: "galerynav") , galery_cuartoscuro_path %>
</div>
<div class="imagen_evento">
    <h1>Soul Station</h1>
    <%= link_to cl_image_tag("soul station/soul_station_min53.jpg", class: "galerynav") , galery_soul_station_path %>
</div>
<div class="imagen_evento">
    <h1>Street Life Valparaiso</h1>
    <%= link_to cl_image_tag("streetlifevalpo/street_life_valpo_min19.jpg", class: "galerynav") , galery_street_life_valpo_path %>
</div>
<div class="imagen_evento">
    <h1>Asylum</h1>
    <%= link_to cl_image_tag("asylum/asylum_min55.jpg", class: "galerynav") , galery_asylum_path %>
</div>
<div class="imagen_evento">
    <h1>Abracadabra</h1>
    <%= link_to cl_image_tag("abracadabra/abracadabra_min53", class: "galerynav") , galeria_abracadabra_path %>
</div>
<div class="imagen_evento">
    <h1>Street Life</h1>
    <%= link_to cl_image_tag("streetlife/street_life_min10", class: "galerynav") , galeria_street_life_path %>
</div>
<div class="imagen_evento">
    <h1>Abrecielo</h1>
    <%= link_to cl_image_tag("abrecielo/abrecielo_min39", class: "galerynav") , galeria_abrecielo_path %>
</div>
<div class="imagen_evento">
    <h1>FURIA PATRIA</h1>
    <%= link_to cl_image_tag("furiapatria/furia_patria08.jpg", class: "galerynav") , galeria_furia_patria_path %>
</div>
<div class="imagen_evento">
    <h1>LA COUR DES MIRACLES</h1>
    <%= link_to cl_image_tag("lacourdesmiracles/la_cour_des_miracles_min12.jpg" , class: "galerynav"), galeria_la_cour_des_miracles_path %>
</div>
<div class="imagen_evento">
    <h1>FREE FALL</h1>
    <%= link_to cl_image_tag("freefall/free_fall_min14.jpg", class: "galerynav") , galeria_free_fall_path %>
</div>
<div class="imagen_evento">
    <h1>PHYSICAL</h1>
    <%= link_to cl_image_tag("physical/physical_min03.jpg" , class: "galerynav"), galeria_physical_path %>
</div>
<div class="imagen_evento animated">
    <h1>TECHNORAMA</h1>
    <%= link_to cl_image_tag("technorama/technorama_min04.jpg" , class: "galerynav"), galeria_technorama_path %>
</div>
<div class="imagen_evento">
    <h1>FEMMES FATALES</h1>
    <%= link_to cl_image_tag("femmesfatales/femmes_falates_min01.jpg" , class: "galerynav"), galeria_femmes_fatales_path %>
</div>
<div class="imagen_evento">
    <h1>RED LIGHT</h1>
    <%= link_to cl_image_tag("redlight/red_light16.jpg" , class: "galerynav"), galeria_red_light_path %>
</div>
<div class="imagen_evento">
    <h1>LES ANNEES FOLLES</h1>
    <%= link_to cl_image_tag("lesannesfolles/les_annes_folles_min04.jpg" , class: "galerynav"), galeria_les_annes_folles_path %>
</div>
<div class="imagen_evento">
    <h1>CAMINO MARGINAL</h1>
    <%= link_to cl_image_tag("caminomarginal/camino_marginal13.jpg" , class: "galerynav"), galeria_camino_marginal_path %>
</div>
<div class="imagen_evento">
    <h1>LIBERA MUSICA</h1>
    <%= link_to cl_image_tag("liberamusica/libera_musica_min14.jpg" , class: "galerynav"), galeria_libera_musica_path %>
</div>
<div class="imagen_evento">
    <h1>IN THE WOODS FOR LOVE</h1>
    <%= link_to cl_image_tag("inthewoodsforlove/in_the_woods_for_love_min06.jpg" , class: "galerynav"), galeria_in_the_woods_for_love_path %>
</div>
<div class="imagen_evento">
    <h1>FLOWER POWER</h1>
    <%= link_to cl_image_tag("flowerpower/flower_power_min12.jpg" , class: "galerynav"), galeria_flower_power_path %>
</div>
<div class="imagen_evento">
    <h1>EL LLAMADO DEL DESIERTO</h1>
    <%= link_to cl_image_tag("elllamadodeldesierto/el_llamado_del_desierto11" , class: "galerynav"), galeria_el_llamado_del_desierto_path %>
</div>
<div class="imagen_evento">
    <h1>SINTOMAS DIECIOCHEROS</h1>
    <%= link_to cl_image_tag("sintomasdieziocheros/sintomas_dieziocheros08.jpg" , class: "galerynav"), galeria_sintomas_dieciocheros_path %>
</div>