<div class="info" id="info">
    <button class="accordion" id="accordion" style="font-size:5vmax;margin-top: 50px;">Videos
        <br>
        <i class="fa fa-angle-down" aria-hidden="true"></i>
        <i class="fa fa-angle-up" aria-hidden="true"></i>
    </button>
    <div class="panel vid">
    <div class="videosyou">
         <div class="imagen_evento">
            <iframe width="90%" height="300px" src="https://www.youtube.com/embed/qkI8pQfyREMrel=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="imagen_evento">
            <iframe width="90%" height="300px" src="https://www.youtube.com/embed/ZC34qeUqJAs?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="imagen_evento">
            <iframe width="90%" height="300px" src="https://www.youtube.com/embed/GQq6Wq1_29o?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="imagen_evento">
            <iframe width="90%" height="300px" src="https://www.youtube.com/embed/6aKWRNqBtQw?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="imagen_evento">
            <iframe width="90%" height="300px" src="https://www.youtube.com/embed/akQOdm0OxOw?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="imagen_evento">
            <iframe width="90%" height="300px" src="https://www.youtube.com/embed/97ZWTKMNS60?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="imagen_evento">
            <iframe width="90%" height="300px" src="https://www.youtube.com/embed/_IrAp0p6Whg?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
       
        
    </div>
</div>




<div class="imagen_evento">
    <h1>Furia Patria</h1>
    <%= link_to cl_image_tag("furiapatria/furia_patria_min03", class: "galerynav") , galeria_furia_patria_path %>
</div>
<div class="imagen_evento">
    <h1>La Cour Des Miracles</h1>
    <%= link_to cl_image_tag("lacourdesmiracles/la_cour_des_miracles_min12.jpg" , class: "galerynav"), galeria_la_cour_des_miracles_path %>
</div>
<div class="imagen_evento">
    <h1>Free Fall</h1>
    <%= link_to cl_image_tag("freefall/free_fall_min14.jpg", class: "galerynav") , galeria_free_fall_path %>
</div>
<div class="imagen_evento">
    <h1>Physical</h1>
    <%= link_to cl_image_tag("physical/physical_min03.jpg" , class: "galerynav"), galeria_physical_path %>
</div>
<div class="imagen_evento animated">
    <h1>Technorama</h1>
    <%= link_to cl_image_tag("technorama/technorama_min04.jpg" , class: "galerynav"), galeria_technorama_path %>
</div>
<div class="imagen_evento">
    <h1>Femmes Fatales</h1>
    <%= link_to cl_image_tag("femmesfatales/femmes_falates_min01.jpg" , class: "galerynav"), galeria_femmes_fatales_path %>
</div>
<div class="imagen_evento">
    <h1>Red Light</h1>
    <%= link_to cl_image_tag("redlight/red_light_min13" , class: "galerynav"), galeria_red_light_path %>
</div>
<div class="imagen_evento">
    <h1>Les Annes Folles</h1>
    <%= link_to cl_image_tag("lesannesfolles/les_annes_folles_min11.jpg" , class: "galerynav"), galeria_les_annes_folles_path %>
</div>
<div class="imagen_evento">
    <h1>Camino Marginal</h1>
    <%= link_to cl_image_tag("caminomarginal/camino_marginal13.jpg" , class: "galerynav"), galeria_camino_marginal_path %>
</div>
<div class="imagen_evento">
    <h1>Libera Musica</h1>
    <%= link_to cl_image_tag("liberamusica/libera_musica_min06.jpg" , class: "galerynav"), galeria_libera_musica_path %>
</div>
<div class="imagen_evento">
    <h1>In The Woods for Love</h1>
    <%= link_to cl_image_tag("inthewoodsforlove/in_the_woods_for_love_min06.jpg" , class: "galerynav"), galeria_in_the_woods_for_love_path %>
</div>
<div class="imagen_evento">
    <h1>FloWer PoWer</h1>
    <%= link_to cl_image_tag("flowerpower/flower_power_min12.jpg" , class: "galerynav"), galeria_flower_power_path %>
</div>
<div class="imagen_evento">
    <h1>El Llamado del Desierto</h1>
    <%= link_to cl_image_tag("elllamadodeldesierto/el_llamado_del_desierto11" , class: "galerynav"), galeria_el_llamado_del_desierto_path %>
</div>
<div class="imagen_evento">
    <h1>Sintomas Dieciocheros</h1>
    <%= link_to cl_image_tag("sintomasdieziocheros/sintomas_dieziocheros_min02.jpg" , class: "galerynav"), galeria_sintomas_dieciocheros_path %>
</div>