<div class="main_content">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="galeriaside">
            <%= render 'galeriaprinc'%>
        </div>
    </div>

    <%# <span id="botonside" style="font-size:30px;cursor:pointer" onclick="openNav()">Galeria</span> %>

        <div id="imaabrecielo">
        </div>

        <div class="gal_tit_dos">
            <h1>Abrecielo</h1>
        </div>

        <div class="galeria">

            <div class="info">
                <button class="accordion">
                    <i class="fa fa-info" aria-hidden="true"></i> Fiesta
                    <i class="fa fa-chevron-down" id="arrow" aria-hidden="true"></i>
                </button>


                <div class="panel">
                    <%= cl_image_tag("afiches/abrecielo.jpg" , class: "afiche") %>
                        <div class="textopanel">
                            <p><%= render 'galery/vinilicon' %> Inti Kunza + Koby Perc - Chile/La Chimba Discos</p>
                        <p><%= render 'galery/vinilicon' %> Daniel Parra - Chile/Sonido Likido</p>
                        <p><%= render 'galery/vinilicon' %> Ricardo Molinari - Chile/Pacha CL</p>
                        <p><%= render 'galery/vinilicon' %> Sarnival - España/UFO Group/Advance Techno</p>
                        <p><%= render 'galery/vinilicon' %> Lisa Cropp - Alemania/Fonda Mental</p>
                        <p><%= render 'galery/vinilicon' %> Jean Madry - Francia/Fonda Mental</p>
                        <p><%= render 'galery/vinilicon' %> Deniroster Lab - Francia/Fonda Mental</p>
                        <p><%= render 'galery/vinilicon' %> Agustin Klein - Argentina/Sousa Label</p>
                        <p><%= render 'galery/vinilicon' %> Okin - Francia</p>
                        <p><%= render 'galery/vinilicon' %> Mer Esnal - Argentina</p>
                        <p><%= render 'galery/vinilicon' %> Sebastián Cárcamo - Chile</p>
                        <p><%= render 'galery/vinilicon' %> Hawer Sanchez - Colombia/NO NAME</p>
                <%= cl_image_tag("lineup/abrecieloline.jpg" , class: "aficheline") %>
                <h3>Sonido: Funktion One</h3>
               <div style="text-align: left;width:70%;margin:auto;">
            <p>2 noches de camping (duchas y baños)</p>
                    <p>30 horas de Música</p>
                    <p>12 Djs</p>
                    <p>Piscina Natural</p>
                    <p>Food Trucks</p>
                    </div>
                        </div>
                </div>
            </div>

            <div class="dosvert">
                <%= link_to cl_image_tag("abrecielo/abrecielo_min05" , class: "galeria_foto"), cl_image_path("abrecielo/abrecielo05"),  class: "galeria_foto swipebox", "rel" => "abrecielo1" %>
                <%= link_to cl_image_tag("abrecielo/abrecielo_min04" , class: "galeria_foto"), cl_image_path("abrecielo/abrecielo04"),  class: "galeria_foto swipebox", "rel" => "abrecielo1" %>
            </div>
            <%= link_to cl_image_tag("abrecielo/abrecielo_min02" , class: "galeria_foto"), cl_image_path("abrecielo/abrecielo02"),  class: "galeria_foto swipebox", "rel" => "abrecielo1" %>
            <%= link_to cl_image_tag("abrecielo/abrecielo_min03" , class: "galeria_foto"), cl_image_path("abrecielo/abrecielo03"),  class: "galeria_foto swipebox", "rel" => "abrecielo1" %>
            <div class="dosvert">
                <%= link_to cl_image_tag("abrecielo/abrecielo_min01" , class: "galeria_foto"), cl_image_path("abrecielo/abrecielo01"),  class: "galeria_foto swipebox", "rel" => "abrecielo1" %>
                <%= link_to cl_image_tag("abrecielo/abrecielo_min06" , class: "galeria_foto"), cl_image_path("abrecielo/abrecielo06"),  class: "galeria_foto swipebox", "rel" => "abrecielo1" %>
            </div>
            <%= link_to cl_image_tag("abrecielo/abrecielo_min07" , class: "galeria_foto"), cl_image_path("abrecielo/abrecielo07"),  class: "galeria_foto swipebox", "rel" => "abrecielo1" %>
            <%= link_to cl_image_tag("abrecielo/abrecielo_min08" , class: "galeria_foto"), cl_image_path("abrecielo/abrecielo08"),  class: "galeria_foto swipebox", "rel" => "abrecielo1" %>
            
                <%= link_to cl_image_tag("abrecielo/abrecielo_min09" , class: "galeria_foto"), cl_image_path("abrecielo/abrecielo09"),  class: "galeria_foto swipebox", "rel" => "abrecielo1" %>
                <%= link_to cl_image_tag("abrecielo/abrecielo_min10" , class: "galeria_foto"), cl_image_path("abrecielo/abrecielo10"),  class: "galeria_foto swipebox", "rel" => "abrecielo1" %>
            <div class="dosvert">
                <%= link_to cl_image_tag("abrecielo/abrecielo_min11" , class: "galeria_foto"), cl_image_path("abrecielo/abrecielo11"),  class: "galeria_foto swipebox", "rel" => "abrecielo1" %>
                <%= link_to cl_image_tag("abrecielo/abrecielo_min12" , class: "galeria_foto"), cl_image_path("abrecielo/abrecielo12"),  class: "galeria_foto swipebox", "rel" => "abrecielo1" %>
             </div>
                <%= link_to cl_image_tag("abrecielo/abrecielo_min35" , class: "galeria_foto"), cl_image_path("abrecielo/abrecielo35"),  class: "galeria_foto swipebox", "rel" => "abrecielo1" %>
                <%= link_to cl_image_tag("abrecielo/abrecielo_min37" , class: "galeria_foto"), cl_image_path("abrecielo/abrecielo15"),  class: "galeria_foto swipebox", "rel" => "abrecielo1" %>
             <div class="dosvert">
                <%= link_to cl_image_tag("abrecielo/abrecielo_min14" , class: "galeria_foto"), cl_image_path("abrecielo/abrecielo14"),  class: "galeria_foto swipebox", "rel" => "abrecielo1" %>
                <%= link_to cl_image_tag("abrecielo/abrecielo_min17" , class: "galeria_foto"), cl_image_path("abrecielo/abrecielo17"),  class: "galeria_foto swipebox", "rel" => "abrecielo1" %>
            </div>
                <%= link_to cl_image_tag("abrecielo/abrecielo_min13" , class: "galeria_foto"), cl_image_path("abrecielo/abrecielo13"),  class: "galeria_foto swipebox", "rel" => "abrecielo1" %>
                <%= link_to cl_image_tag("abrecielo/abrecielo_min15" , class: "galeria_foto"), cl_image_path("abrecielo/abrecielo15"),  class: "galeria_foto swipebox", "rel" => "abrecielo1" %>
                <%= link_to cl_image_tag("abrecielo/abrecielo_min18" , class: "galeria_foto"), cl_image_path("abrecielo/abrecielo18"),  class: "galeria_foto swipebox", "rel" => "abrecielo1" %>
                <%= link_to cl_image_tag("abrecielo/abrecielo_min19" , class: "galeria_foto"), cl_image_path("abrecielo/abrecielo19"),  class: "galeria_foto swipebox", "rel" => "abrecielo1" %>
                <%= link_to cl_image_tag("abrecielo/abrecielo_min20" , class: "galeria_foto"), cl_image_path("abrecielo/abrecielo20"),  class: "galeria_foto swipebox", "rel" => "abrecielo1" %>
                <%= link_to cl_image_tag("abrecielo/abrecielo_min21" , class: "galeria_foto"), cl_image_path("abrecielo/abrecielo21"),  class: "galeria_foto swipebox", "rel" => "abrecielo1" %>
                <%= link_to cl_image_tag("abrecielo/abrecielo_min22" , class: "galeria_foto"), cl_image_path("abrecielo/abrecielo22"),  class: "galeria_foto swipebox", "rel" => "abrecielo1" %>
                <%= link_to cl_image_tag("abrecielo/abrecielo_min16" , class: "galeria_foto"), cl_image_path("abrecielo/abrecielo23"),  class: "galeria_foto swipebox", "rel" => "abrecielo1" %>
                <%= link_to cl_image_tag("abrecielo/abrecielo_min23" , class: "galeria_foto"), cl_image_path("abrecielo/abrecielo16"),  class: "galeria_foto swipebox", "rel" => "abrecielo1" %>
                <%= link_to cl_image_tag("abrecielo/abrecielo_min24" , class: "galeria_foto"), cl_image_path("abrecielo/abrecielo24"),  class: "galeria_foto swipebox", "rel" => "abrecielo1" %>
                <%= link_to cl_image_tag("abrecielo/abrecielo_min25" , class: "galeria_foto"), cl_image_path("abrecielo/abrecielo25"),  class: "galeria_foto swipebox", "rel" => "abrecielo1" %>
                <%= link_to cl_image_tag("abrecielo/abrecielo_min26" , class: "galeria_foto"), cl_image_path("abrecielo/abrecielo26"),  class: "galeria_foto swipebox", "rel" => "abrecielo1" %>
                <%= link_to cl_image_tag("abrecielo/abrecielo_min27" , class: "galeria_foto"), cl_image_path("abrecielo/abrecielo27"),  class: "galeria_foto swipebox", "rel" => "abrecielo1" %>
                <%= link_to cl_image_tag("abrecielo/abrecielo_min28" , class: "galeria_foto"), cl_image_path("abrecielo/abrecielo28"),  class: "galeria_foto swipebox", "rel" => "abrecielo1" %>
                <%= link_to cl_image_tag("abrecielo/abrecielo_min29" , class: "galeria_foto"), cl_image_path("abrecielo/abrecielo29"),  class: "galeria_foto swipebox", "rel" => "abrecielo1" %>
                <%= link_to cl_image_tag("abrecielo/abrecielo_min30" , class: "galeria_foto"), cl_image_path("abrecielo/abrecielo30"),  class: "galeria_foto swipebox", "rel" => "abrecielo1" %>
                <%= link_to cl_image_tag("abrecielo/abrecielo_min34" , class: "galeria_foto"), cl_image_path("abrecielo/abrecielo34"),  class: "galeria_foto swipebox", "rel" => "abrecielo1" %>
                <%= link_to cl_image_tag("abrecielo/abrecielo_min33" , class: "galeria_foto"), cl_image_path("abrecielo/abrecielo33"),  class: "galeria_foto swipebox", "rel" => "abrecielo1" %>
                <%= link_to cl_image_tag("abrecielo/abrecielo_min31" , class: "galeria_foto"), cl_image_path("abrecielo/abrecielo31"),  class: "galeria_foto swipebox", "rel" => "abrecielo1" %>
                <%= link_to cl_image_tag("abrecielo/abrecielo_min32" , class: "galeria_foto"), cl_image_path("abrecielo/abrecielo32"),  class: "galeria_foto swipebox", "rel" => "abrecielo1" %>
                <%= link_to cl_image_tag("abrecielo/abrecielo_min36" , class: "galeria_foto"), cl_image_path("abrecielo/abrecielo36"),  class: "galeria_foto swipebox", "rel" => "abrecielo1" %>
                <%= link_to cl_image_tag("abrecielo/abrecielo_min38" , class: "galeria_foto"), cl_image_path("abrecielo/abrecielo38"),  class: "galeria_foto swipebox", "rel" => "abrecielo1" %>
                <%= link_to cl_image_tag("abrecielo/abrecielo_min39" , class: "galeria_foto"), cl_image_path("abrecielo/abrecielo39"),  class: "galeria_foto swipebox", "rel" => "abrecielo1" %>






        </div>
</div>

<%# <script>
    function openNav() {
            document.getElementById("mySidenav").style.width = "100%";
        }
        
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
</script> %>