
<div class="main_content">
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="galeriaside">
<%= render 'galeriaprinc'%>
</div>
</div>



    <div id="imallamado">
    </div>

    <div class="gal_tit_dos">
        <h1>El Llamado<br>del Desierto</h1>
    </div>

    <div class="galeria">

        <div class="info">
            <button class="accordion"><i class="fa fa-info" aria-hidden="true"></i> Fiesta<i class="fa fa-chevron-down" id="arrow" aria-hidden="true"></i>
            </button>

            
            <div class="panel">
            <%= cl_image_tag("afiches/llamadogrupo" , class: "afiche") %>
            <div class="textopanel">
            <p>Primer mini festival realizado en el desierto (Punta de Choros). Contó con la
            colaboración de sus habitantes agrupados en la defensa de causas ambientales. El
            resultado fue disfrutar de una fiesta de más de 15 horas de música en medio del desierto
            florido. Además, el after fue un paseo en la Reserva Marítima con avistamiento de
            delfines y pingüinos</p>
            <h3>19/11/2016</h3>
            <h3>Desierto de Punta de Choros, IX region, Coquimbo</h3>
            <h3>Line Up</h3>
                <p><%= render 'galery/vinilicon' %> Inerte - Paris/Francia</p>
                <p><%= render 'galery/vinilicon' %> Galaxy - Santiago/Chile</p>
                <p><%= render 'galery/vinilicon' %> Mutantes - Viña del Mar/Chile</p>
                <p><%= render 'galery/vinilicon' %> PMH - Paris/Francia</p>
            </div>
            </div>
        </div>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/57ZWTKMNS60" frameborder="0" allowfullscreen></iframe>
    
    <%= link_to cl_image_tag("elllamadodeldesierto/el_llamado_del_desierto_min01" , class: "galeria_foto"), cl_image_path("elllamadodeldesierto/el_llamado_del_desierto01"), class: "galeria_foto swipebox", "rel" => "llamadodesierto1" %> 
    <%= link_to cl_image_tag("elllamadodeldesierto/el_llamado_del_desierto_min02" , class: "galeria_foto"), cl_image_path("elllamadodeldesierto/el_llamado_del_desierto02"), class: "galeria_foto swipebox", "rel" => "llamadodesierto1" %>
    <%= link_to cl_image_tag("elllamadodeldesierto/el_llamado_del_desierto_min04" , class: "galeria_foto"), cl_image_path("elllamadodeldesierto/el_llamado_del_desierto04"), class: "galeria_foto swipebox", "rel" => "llamadodesierto1" %>
    <%= link_to cl_image_tag("elllamadodeldesierto/el_llamado_del_desierto_min03" , class: "galeria_foto"), cl_image_path("elllamadodeldesierto/el_llamado_del_desierto03"), class: "galeria_foto swipebox", "rel" => "llamadodesierto1" %>
    <%= link_to cl_image_tag("elllamadodeldesierto/el_llamado_del_desierto_min05" , class: "galeria_foto"), cl_image_path("elllamadodeldesierto/el_llamado_del_desierto05"), class: "galeria_foto swipebox", "rel" => "llamadodesierto1" %>
    <div class="dosvert">
        <%= link_to cl_image_tag("elllamadodeldesierto/el_llamado_del_desierto_min07" , class: "galeria_foto"), cl_image_path("elllamadodeldesierto/el_llamado_del_desierto07"), class: "galeria_foto swipebox", "rel" => "llamadodesierto1" %>
    <%= link_to cl_image_tag("elllamadodeldesierto/el_llamado_del_desierto_min08" , class: "galeria_foto"), cl_image_path("elllamadodeldesierto/el_llamado_del_desierto08"), class: "galeria_foto swipebox", "rel" => "llamadodesierto1" %>
    </div>
    <%= link_to cl_image_tag("elllamadodeldesierto/el_llamado_del_desierto_min06" , class: "galeria_foto"), cl_image_path("elllamadodeldesierto/el_llamado_del_desierto06"), class: "galeria_foto swipebox", "rel" => "llamadodesierto1" %>
    <%= link_to cl_image_tag("elllamadodeldesierto/el_llamado_del_desierto_min09" , class: "galeria_foto"), cl_image_path("elllamadodeldesierto/el_llamado_del_desierto09"), class: "galeria_foto swipebox", "rel" => "llamadodesierto1" %>
    <%= link_to cl_image_tag("elllamadodeldesierto/el_llamado_del_desierto_min10" , class: "galeria_foto"), cl_image_path("elllamadodeldesierto/el_llamado_del_desierto10"), class: "galeria_foto swipebox", "rel" => "llamadodesierto1" %>
    <%= link_to cl_image_tag("elllamadodeldesierto/el_llamado_del_desierto_min11" , class: "galeria_foto"), cl_image_path("elllamadodeldesierto/el_llamado_del_desierto11"), class: "galeria_foto swipebox", "rel" => "llamadodesierto1" %>
    <%= link_to cl_image_tag("elllamadodeldesierto/el_llamado_del_desierto_min12" , class: "galeria_foto"), cl_image_path("elllamadodeldesierto/el_llamado_del_desierto12"), class: "galeria_foto swipebox", "rel" => "llamadodesierto1" %>
    <%= link_to cl_image_tag("elllamadodeldesierto/el_llamado_del_desierto_min13" , class: "galeria_foto"), cl_image_path("elllamadodeldesierto/el_llamado_del_desierto13"), class: "galeria_foto swipebox", "rel" => "llamadodesierto1" %>
    <%= link_to cl_image_tag("elllamadodeldesierto/el_llamado_del_desierto_min14" , class: "galeria_foto"), cl_image_path("elllamadodeldesierto/el_llamado_del_desierto14"), class: "galeria_foto swipebox", "rel" => "llamadodesierto1" %>
    <%= link_to cl_image_tag("elllamadodeldesierto/el_llamado_del_desierto_min15" , class: "galeria_foto"), cl_image_path("elllamadodeldesierto/el_llamado_del_desierto15"), class: "galeria_foto swipebox", "rel" => "llamadodesierto1" %>
    <%= link_to cl_image_tag("elllamadodeldesierto/el_llamado_del_desierto_min16" , class: "galeria_foto"), cl_image_path("elllamadodeldesierto/el_llamado_del_desierto16"), class: "galeria_foto swipebox", "rel" => "llamadodesierto1" %>
    <%= link_to cl_image_tag("elllamadodeldesierto/el_llamado_del_desierto_min17" , class: "galeria_foto"), cl_image_path("elllamadodeldesierto/el_llamado_del_desierto17"), class: "galeria_foto swipebox", "rel" => "llamadodesierto1" %>
    <%= link_to cl_image_tag("elllamadodeldesierto/el_llamado_del_desierto_min18" , class: "galeria_foto"), cl_image_path("elllamadodeldesierto/el_llamado_del_desierto18"), class: "galeria_foto swipebox", "rel" => "llamadodesierto1" %>
    
    

    
    
</div>
</div>














