
<div class="main_content">
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="galeriaside">
<%= render 'galeriaprinc'%>
</div>
</div>

<span id="botonside" style="font-size:30px;cursor:pointer" onclick="openNav()">Galeria</span>

    <div id="imafemmes">
    </div>

    <div class="gal_tit_dos">
        <h1>Femmes <br> Fatales</h1>
    </div>

    <div class="galeria">

        <div class="info">
            <button class="accordion"><i class="fa fa-info" aria-hidden="true"></i> Fiesta<i class="fa fa-chevron-down" id="arrow" aria-hidden="true"></i>
            </button>

            
            <div class="panel">
            <%= cl_image_tag("afiches/femmes_fatales" , class: "afiche") %>
            <div class="textopanel">
            <p>La bodega del Teatro Caupolicán es un galpón gigante. La idea fue celebrar a la mujer y
                la fuerza natural que sale de ellas en una fiesta tipo industrial</p>
            <h3>19/11/2016</h3>
            <h3>Bodega Teatro Caupolicán, Santiago Centro</h3>
            <h3>Line Up</h3>
                <p><%= render 'galery/vinilicon' %> Sirene - Buenos Aires/Argentina</p>
                <p><%= render 'galery/vinilicon' %> Lisa Cropp - Hamburgo/Alemania</p>
                <p><%= render 'galery/vinilicon' %> Umho - Santiago/Chile</p>
                <p><%= render 'galery/vinilicon' %> PMH - Paris/Francia</p>
            <h3>Sonido: Funktion One</h3>
            </div>
            </div>
        </div>

    <iframe src="https://www.youtube.com/embed/d3JU2as9bcE?rel=0" frameborder="0" allowfullscreen></iframe>
    
    <%= link_to cl_image_tag("femmesfatales/femmes_falates_min01" , class: "galeria_foto"), cl_image_path("femmesfatales/femmes_falates01"), class: "galeria_foto swipebox", "rel" => "femmesfatales1" %>
    <%= link_to cl_image_tag("femmesfatales/femmes_falates_min02" , class: "galeria_foto"), cl_image_path("femmesfatales/femmes_falates02"), class: "galeria_foto swipebox", "rel" => "femmesfatales1" %>
    <%= link_to cl_image_tag("femmesfatales/femmes_falates_min03" , class: "galeria_foto"), cl_image_path("femmesfatales/femmes_falates03"), class: "galeria_foto swipebox", "rel" => "femmesfatales1" %>
    <%= link_to cl_image_tag("femmesfatales/femmes_falates_min04" , class: "galeria_foto"), cl_image_path("femmesfatales/femmes_falates04"), class: "galeria_foto swipebox", "rel" => "femmesfatales1" %>
    <%= link_to cl_image_tag("femmesfatales/femmes_falates_min05" , class: "galeria_foto"), cl_image_path("femmesfatales/femmes_falates05"), class: "galeria_foto swipebox", "rel" => "femmesfatales1" %>
    <%= link_to cl_image_tag("femmesfatales/femmes_falates_min06" , class: "galeria_foto"), cl_image_path("femmesfatales/femmes_falates06"), class: "galeria_foto swipebox", "rel" => "femmesfatales1" %>
    <%= link_to cl_image_tag("femmesfatales/femmes_falates_min07" , class: "galeria_foto"), cl_image_path("femmesfatales/femmes_falates07"), class: "galeria_foto swipebox", "rel" => "femmesfatales1" %>
    <%= link_to cl_image_tag("femmesfatales/femmes_falates_min08" , class: "galeria_foto"), cl_image_path("femmesfatales/femmes_falates08"), class: "galeria_foto swipebox", "rel" => "femmesfatales1" %>
    <%= link_to cl_image_tag("femmesfatales/femmes_falates_min09" , class: "galeria_foto"), cl_image_path("femmesfatales/femmes_falates09"), class: "galeria_foto swipebox", "rel" => "femmesfatales1" %>
    <%= link_to cl_image_tag("femmesfatales/femmes_falates_min10" , class: "galeria_foto"), cl_image_path("femmesfatales/femmes_falates10"), class: "galeria_foto swipebox", "rel" => "femmesfatales1" %>
    <%= link_to cl_image_tag("femmesfatales/femmes_falates_min11" , class: "galeria_foto"), cl_image_path("femmesfatales/femmes_falates11"), class: "galeria_foto swipebox", "rel" => "femmesfatales1" %>
    <%= link_to cl_image_tag("femmesfatales/femmes_falates_min12" , class: "galeria_foto"), cl_image_path("femmesfatales/femmes_falates12"), class: "galeria_foto swipebox", "rel" => "femmesfatales1" %>
    <%= link_to cl_image_tag("femmesfatales/femmes_falates_min13" , class: "galeria_foto"), cl_image_path("femmesfatales/femmes_falates13"), class: "galeria_foto swipebox", "rel" => "femmesfatales1" %>
    <%= link_to cl_image_tag("femmesfatales/femmes_falates_min14" , class: "galeria_foto"), cl_image_path("femmesfatales/femmes_falates14"), class: "galeria_foto swipebox", "rel" => "femmesfatales1" %>
    <%= link_to cl_image_tag("femmesfatales/femmes_falates_min15" , class: "galeria_foto"), cl_image_path("femmesfatales/femmes_falates15"), class: "galeria_foto swipebox", "rel" => "femmesfatales1" %>
    <%= link_to cl_image_tag("femmesfatales/femmes_falates_min16" , class: "galeria_foto"), cl_image_path("femmesfatales/femmes_falates16"), class: "galeria_foto swipebox", "rel" => "femmesfatales1" %>
    <%= link_to cl_image_tag("femmesfatales/femmes_falates_min17" , class: "galeria_foto"), cl_image_path("femmesfatales/femmes_falates17"), class: "galeria_foto swipebox", "rel" => "femmesfatales1" %>
    <%= link_to cl_image_tag("femmesfatales/femmes_falates_min18" , class: "galeria_foto"), cl_image_path("femmesfatales/femmes_falates18"), class: "galeria_foto swipebox", "rel" => "femmesfatales1" %>
    <%= link_to cl_image_tag("femmesfatales/femmes_falates_min19" , class: "galeria_foto"), cl_image_path("femmesfatales/femmes_falates19"), class: "galeria_foto swipebox", "rel" => "femmesfatales1" %>
    <%= link_to cl_image_tag("femmesfatales/femmes_falates_min20" , class: "galeria_foto"), cl_image_path("femmesfatales/femmes_falates20"), class: "galeria_foto swipebox", "rel" => "femmesfatales1" %>
    <%= link_to cl_image_tag("femmesfatales/femmes_falates_min21" , class: "galeria_foto"), cl_image_path("femmesfatales/femmes_falates21"), class: "galeria_foto swipebox", "rel" => "femmesfatales1" %>
    <%= link_to cl_image_tag("femmesfatales/femmes_falates_min22" , class: "galeria_foto"), cl_image_path("femmesfatales/femmes_falates22"), class: "galeria_foto swipebox", "rel" => "femmesfatales1" %>
    <%= link_to cl_image_tag("femmesfatales/femmes_falates_min23" , class: "galeria_foto"), cl_image_path("femmesfatales/femmes_falates23"), class: "galeria_foto swipebox", "rel" => "femmesfatales1" %>
    
    

    
    
</div>
</div>

<%# <script>
    $('.swipebox').swipebox();
</script> %>
<script>
    function openNav() {
            document.getElementById("mySidenav").style.width = "100%";
        }
        
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
</script>












