
<div class="main_content">
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="galeriaside">
<%= render 'galeriaprinc'%>
</div>
</div>

<span id="botonside" style="font-size:30px;cursor:pointer" onclick="openNav()">Galeria</span>

    <div id="imaflower">
    </div>

    <div class="gal_tit_dos">
        <h1>Flower<br>Power</h1>
    </div>

    <div class="galeria">

        <div class="info">
            <button class="accordion"><i class="fa fa-info" aria-hidden="true"></i> Fiesta<i class="fa fa-chevron-down" id="arrow" aria-hidden="true"></i>
            </button>

            
            <div class="panel">
            <%= cl_image_tag("afiches/flower_power" , class: "afiche") %>
            <div class="textopanel">
            <p>Volvimos al lugar que nos vio nacer y en honor a nuestra última fiesta (El llamado del
                desierto), decoramos la casa con miles de flores multicolores.</p>
            <h3>28/11/2015</h3>
            <h3>Parque Callejones, Graneros, Rancagua</h3>
            <h3>Line Up</h3>
                <p><%= render 'galery/vinilicon' %> Inerte - Paris/Francia</p>
                <p><%= render 'galery/vinilicon' %> PMH - Paris/Francia</p>
                <p><%= render 'galery/vinilicon' %> Nicolai - Santiago/Chile</p>
                <p><%= render 'galery/vinilicon' %> McKenzy - Santiago/Chile</p>
            <h3></h3>
            </div>
            </div>
        </div>

    <iframe src="https://www.youtube.com/embed/d3JU2as9bcE?rel=0" frameborder="0" allowfullscreen></iframe>
    
    <%= link_to cl_image_tag("flowerpower/flower_power_min01" , class: "galeria_foto"), cl_image_path("flowerpower/flower_power01"), class: "galeria_foto swipebox", "rel" => "flowerpower1" %>
    <%= link_to cl_image_tag("flowerpower/flower_power_min02" , class: "galeria_foto"), cl_image_path("flowerpower/flower_power02"), class: "galeria_foto swipebox", "rel" => "flowerpower1" %>
    <%= link_to cl_image_tag("flowerpower/flower_power_min03" , class: "galeria_foto"), cl_image_path("flowerpower/flower_power03"), class: "galeria_foto swipebox", "rel" => "flowerpower1" %>
    <%= link_to cl_image_tag("flowerpower/flower_power_min04" , class: "galeria_foto"), cl_image_path("flowerpower/flower_power04"), class: "galeria_foto swipebox", "rel" => "flowerpower1" %>
    <%= link_to cl_image_tag("flowerpower/flower_power_min05" , class: "galeria_foto"), cl_image_path("flowerpower/flower_power05"), class: "galeria_foto swipebox", "rel" => "flowerpower1" %>
    <%= link_to cl_image_tag("flowerpower/flower_power_min06" , class: "galeria_foto"), cl_image_path("flowerpower/flower_power06"), class: "galeria_foto swipebox", "rel" => "flowerpower1" %>
    <%= link_to cl_image_tag("flowerpower/flower_power_min07" , class: "galeria_foto"), cl_image_path("flowerpower/flower_power07"), class: "galeria_foto swipebox", "rel" => "flowerpower1" %>
    <%= link_to cl_image_tag("flowerpower/flower_power_min08" , class: "galeria_foto"), cl_image_path("flowerpower/flower_power08"), class: "galeria_foto swipebox", "rel" => "flowerpower1" %>
    <%= link_to cl_image_tag("flowerpower/flower_power_min09" , class: "galeria_foto"), cl_image_path("flowerpower/flower_power09"), class: "galeria_foto swipebox", "rel" => "flowerpower1" %>
    <%= link_to cl_image_tag("flowerpower/flower_power_min10" , class: "galeria_foto"), cl_image_path("flowerpower/flower_power10"), class: "galeria_foto swipebox", "rel" => "flowerpower1" %>
    <%= link_to cl_image_tag("flowerpower/flower_power_min11" , class: "galeria_foto"), cl_image_path("flowerpower/flower_power11"), class: "galeria_foto swipebox", "rel" => "flowerpower1" %>
    <%= link_to cl_image_tag("flowerpower/flower_power_min12" , class: "galeria_foto"), cl_image_path("flowerpower/flower_power12"), class: "galeria_foto swipebox", "rel" => "flowerpower1" %>
    <%= link_to cl_image_tag("flowerpower/flower_power_min13" , class: "galeria_foto"), cl_image_path("flowerpower/flower_power13"), class: "galeria_foto swipebox", "rel" => "flowerpower1" %>
    <%= link_to cl_image_tag("flowerpower/flower_power_min14" , class: "galeria_foto"), cl_image_path("flowerpower/flower_power14"), class: "galeria_foto swipebox", "rel" => "flowerpower1" %>
    <%= link_to cl_image_tag("flowerpower/flower_power_min15" , class: "galeria_foto"), cl_image_path("flowerpower/flower_power15"), class: "galeria_foto swipebox", "rel" => "flowerpower1" %>
    <%= link_to cl_image_tag("flowerpower/flower_power_min16" , class: "galeria_foto"), cl_image_path("flowerpower/flower_power16"), class: "galeria_foto swipebox", "rel" => "flowerpower1" %>
    <%= link_to cl_image_tag("flowerpower/flower_power_min17" , class: "galeria_foto"), cl_image_path("flowerpower/flower_power17"), class: "galeria_foto swipebox", "rel" => "flowerpower1" %>
    <%= link_to cl_image_tag("flowerpower/flower_power_min18" , class: "galeria_foto"), cl_image_path("flowerpower/flower_power18"), class: "galeria_foto swipebox", "rel" => "flowerpower1" %>
    <%= link_to cl_image_tag("flowerpower/flower_power_min19" , class: "galeria_foto"), cl_image_path("flowerpower/flower_power19"), class: "galeria_foto swipebox", "rel" => "flowerpower1" %>
    <%= link_to cl_image_tag("flowerpower/flower_power_min20" , class: "galeria_foto"), cl_image_path("flowerpower/flower_power20"), class: "galeria_foto swipebox", "rel" => "flowerpower1" %>
    <%= link_to cl_image_tag("flowerpower/flower_power_min21" , class: "galeria_foto"), cl_image_path("flowerpower/flower_power21"), class: "galeria_foto swipebox", "rel" => "flowerpower1" %>

    
    

    
    
</div>
</div>

<script>
    function openNav() {
            document.getElementById("mySidenav").style.width = "100%";
        }
        
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
</script>












