
<div class="main_content">
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="galeriaside">

    <div class="imagen_evento anim8">
        <h1>Free Fall</h1>
        <%= link_to cl_image_tag("freefall/free_fall_min14.jpg", class: "galerynav") , galeria_free_fall_path %>
        
    </div>
    <div class="imagen_evento anim7">
        <h1>La Cour Des Miracles</h1>
        <%= link_to cl_image_tag("lacourdesmiracles/la_cour_des_miracles_min12.jpg" , class: "galerynav"), galeria_la_cour_des_miracles_path %>
    </div>
    <div class="imagen_evento">
        <h1>Physical</h1>
        <%= link_to cl_image_tag("physical/physical_min03.jpg" , class: "galerynav"), galeria_physical_path %>
    </div>
    <div class="imagen_evento animated anim5">
        <h1>Technorama</h1>
        <%= link_to cl_image_tag("technorama/technorama_min04.jpg" , class: "galerynav"), galeria_technorama_path %>
    </div>
    <div class="imagen_evento animated">
        <h1>Femmes Fatales</h1>
        <%= link_to cl_image_tag("femmesfatales/femmes_falates_min01.jpg" , class: "galerynav"), galeria_femmes_fatales_path %>
    </div>
    <div class="imagen_evento">
        <h1>Red Light</h1>
        <%= link_to cl_image_tag("redlight/red_light_min13" , class: "galerynav"), galeria_red_light_path %>
    </div>
    <div class="imagen_evento">
        <h1>Les Annes Folles</h1>
        <%= link_to cl_image_tag("lesannesfolles/les_annes_folles_min11.jpg" , class: "galerynav"), galeria_les_annes_folles_path %>
    </div>
    <div class="imagen_evento">
        <h1>Camino Marginal</h1>
        <%= link_to cl_image_tag("caminomarginal/camino_marginal13.jpg" , class: "galerynav"), galeria_camino_marginal_path %>
    </div>
    <div class="imagen_evento">
        <h1>Libera Musica</h1>
        <%= link_to cl_image_tag("liberamusica/libera_musica_min06.jpg" , class: "galerynav"), galeria_libera_musica_path %>
    </div>
    <div class="imagen_evento">
        <h1>In The Woods for Love</h1>
        <%= link_to cl_image_tag("inthewoodsforlove/in_the_woods_for_love_min06.jpg" , class: "galerynav"), galeria_in_the_woods_for_love_path %>
    </div>
    <div class="imagen_evento">
        <h1>Flower Power</h1>
        <%= link_to cl_image_tag("flowerpower/flower_power_min12.jpg" , class: "galerynav"), galeria_flower_power_path %>
    </div>
    <div class="imagen_evento">
        <h1>El Llamado del Desierto</h1>
        <%= link_to cl_image_tag("elllamadodeldesierto/el_llamado_del_desierto11" , class: "galerynav"), galeria_el_llamado_del_desierto_path %>
    </div>
    <div class="imagen_evento">
        <h1>Síntomas Dieziocheros</h1>
        <%= link_to cl_image_tag("sintomasdieziocheros/sintomas_dieziocheros_min02.jpg" , class: "galerynav"), galeria_sintomas_dieciocheros_path %>
    </div>
</div>
</div>

<span id="botonside" style="cursor:pointer" onclick="openNav()">Galeria</span>


    <div id="imafreefall">
    </div>

    <div class="gal_tit">
        <h1>FREE FALL</h1>
    </div>

    <div class="galeria">

        
        <div class="info">
            <button class="accordion"><i class="fa fa-info" aria-hidden="true"></i> Fiesta<i class="fa fa-chevron-down" id="arrow" aria-hidden="true"></i>
            </button>
            <div class="panel">
            <%= cl_image_tag("afiches/free_fall.jpg" , class: "afiche") %>
            <div class="textopanel">
                <p>Nos sumergimos en una caída libre. La mesa del DJ era una cabina de avión, maniquís colgaban del techo y los fondamentalistas bajaron directamente de las estrellas hasta la tierra y de la tierra hasta los bajos fondos de nuestra fiesta.</p>
                <h3>16/07/2017</h3>
                <h3>Club Greta, Bellavista, Santiago</h3>
                <h3>Line Up</h3>
                <ul>
                    <li>Alejandro Paz – Santiago/Chile</li>
                    <li>Jean Madry – Paris/Francia</li>
                    <li>Inerte – Paris/Francia</li>
                </ul>
                <h3>Sonido: Funktion One</h3>
                <h3>Colaborador: Club Mate</h3>
            </div>
            
            
            </div>
        </div>
        

    <iframe src="https://www.youtube.com/embed/wl5nO5kLk6M?rel=0" frameborder="0" allowfullscreen></iframe>
    
    <%= link_to cl_image_tag("freefall/free_fall01.jpg" , class: "galeria_foto"), cl_image_path("freefall/free_fall01.jpg"), "data-lightbox" => "freefall",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("freefall/free_fall02.jpg" , class: "galeria_foto"), cl_image_path("freefall/free_fall02.jpg"), "data-lightbox" => "freefall",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("freefall/free_fall03.jpg" , class: "galeria_foto"), cl_image_path("freefall/free_fall03.jpg"), "data-lightbox" => "freefall",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("freefall/free_fall04.jpg" , class: "galeria_foto"), cl_image_path("freefall/free_fall04.jpg"), "data-lightbox" => "freefall",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("freefall/free_fall05.jpg" , class: "galeria_foto"), cl_image_path("freefall/free_fall05.jpg"), "data-lightbox" => "freefall",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("freefall/free_fall06.jpg" , class: "galeria_foto"), cl_image_path("freefall/free_fall06.jpg"), "data-lightbox" => "freefall",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("freefall/free_fall07.jpg" , class: "galeria_foto"), cl_image_path("freefall/free_fall07.jpg"), "data-lightbox" => "freefall",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("freefall/free_fall_min08.jpg" , class: "galeria_foto"), cl_image_path("freefall/free_fall08.jpg"), "data-lightbox" => "freefall",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("freefall/free_fall_min09.jpg" , class: "galeria_foto"), cl_image_path("freefall/free_fall09.jpg"), "data-lightbox" => "freefall",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("freefall/free_fall_min10.jpg" , class: "galeria_foto"), cl_image_path("freefall/free_fall10.jpg"), "data-lightbox" => "freefall",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("freefall/free_fall_min11.jpg" , class: "galeria_foto"), cl_image_path("freefall/free_fall11.jpg"), "data-lightbox" => "freefall",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("freefall/free_fall_min12.jpg" , class: "galeria_foto"), cl_image_path("freefall/free_fall12.jpg"), "data-lightbox" => "freefall",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("freefall/free_fall_min13.jpg" , class: "galeria_foto"), cl_image_path("freefall/free_fall13.jpg"), "data-lightbox" => "freefall",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("freefall/free_fall_min14.jpg" , class: "galeria_foto"), cl_image_path("freefall/free_fall14.jpg"), "data-lightbox" => "freefall",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("freefall/free_fall_min15.jpg" , class: "galeria_foto"), cl_image_path("freefall/free_fall15.jpg"), "data-lightbox" => "freefall",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("freefall/free_fall_min16.jpg" , class: "galeria_foto"), cl_image_path("freefall/free_fall16.jpg"), "data-lightbox" => "freefall",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("freefall/free_fall_min17.jpg" , class: "galeria_foto"), cl_image_path("freefall/free_fall17.jpg"), "data-lightbox" => "freefall",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("freefall/free_fall_min18.jpg" , class: "galeria_foto"), cl_image_path("freefall/free_fall18.jpg"), "data-lightbox" => "freefall",  class: "galeria_foto" %>
    
</div>
</div>

<script>
    function openNav() {
            document.getElementById("mySidenav").style.width = "100%";
            
        }
        
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
         
        }

        
</script>





