
<div class="main_content">
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="galeriaside">
<%= render 'galeriaprinc'%>
</div>
</div>



    <div id="imawoods">
    </div>

    <div class="gal_tit_dos">
        <h1>In the Woods<br>for Love</h1>
    </div>

    <div class="galeria">

        <div class="info">
            <button class="accordion"><i class="fa fa-info" aria-hidden="true"></i> Fiesta<i class="fa fa-chevron-down" id="arrow" aria-hidden="true"></i>
            </button>

            
            <div class="panel">
            <%= cl_image_tag("afiches/in_the_woods_for_love" , class: "afiche") %>
            <div class="textopanel">
            <p>Evento coproducido con Sonico Producción (Manuel García) en un bosque de pinos
                gigantes. Tuvimos la suerte tener una gran artista en la decoración: Romina Carvajal. La
                idea principal era la conexión con la naturaleza y se ornamentó con iluminación
                especial, atrapa sueños y telas reciclables para crear armonía entre el ser humano y la
                naturaleza</p>
            <h3>12/12/2015-13/12/2015</h3>
            <h3>Parque Callejones, Graneros, Rancagua</h3>
            <h3>Line Up</h3>
                <p><%= render 'galery/vinilicon' %> Ricardo Molinari (Santiago/Chile)</p>
                <p><%= render 'galery/vinilicon' %> Inerte (Paris/Chile)</p>
                <p><%= render 'galery/vinilicon' %> PMH (Paris/Chile)</p>
                <p><%= render 'galery/vinilicon' %> SquareNeck (Brest/Francia)</p>
                <p><%= render 'galery/vinilicon' %> Mutantes (Viña del Mar/Chile)</p>
                <p><%= render 'galery/vinilicon' %> GALAXY (Santiago/Chile)</p>
                <p><%= render 'galery/vinilicon' %> Sebastián Diaz (Madrid/España)</p>
            <h3></h3>
            </div>
            </div>
        </div>

    <iframe src="https://www.youtube.com/embed/d3JU2as9bcE?rel=0" frameborder="0" allowfullscreen></iframe>
    
    <%= link_to cl_image_tag("inthewoodsforlove/in_the_woods_for_love_min01" , class: "galeria_foto"), cl_image_path("inthewoodsforlove/in_the_woods_for_love01"), class: "galeria_foto swipebox", "rel" => "woodslove1" %>
    <%= link_to cl_image_tag("inthewoodsforlove/in_the_woods_for_love_min02" , class: "galeria_foto"), cl_image_path("inthewoodsforlove/in_the_woods_for_love02"), class: "galeria_foto swipebox", "rel" => "woodslove1" %>
    <%= link_to cl_image_tag("inthewoodsforlove/in_the_woods_for_love_min03" , class: "galeria_foto"), cl_image_path("inthewoodsforlove/in_the_woods_for_love03"), class: "galeria_foto swipebox", "rel" => "woodslove1" %>
    <%= link_to cl_image_tag("inthewoodsforlove/in_the_woods_for_love_min04" , class: "galeria_foto"), cl_image_path("inthewoodsforlove/in_the_woods_for_love04"), class: "galeria_foto swipebox", "rel" => "woodslove1" %>
    <%= link_to cl_image_tag("inthewoodsforlove/in_the_woods_for_love_min05" , class: "galeria_foto"), cl_image_path("inthewoodsforlove/in_the_woods_for_love05"), class: "galeria_foto swipebox", "rel" => "woodslove1" %>
    <%= link_to cl_image_tag("inthewoodsforlove/in_the_woods_for_love_min08" , class: "galeria_foto"), cl_image_path("inthewoodsforlove/in_the_woods_for_love08"), class: "galeria_foto swipebox", "rel" => "woodslove1" %>
    <div class="dosvert">
        <%= link_to cl_image_tag("inthewoodsforlove/in_the_woods_for_love_min06" , class: "galeria_foto"), cl_image_path("inthewoodsforlove/in_the_woods_for_love06"), class: "galeria_foto swipebox", "rel" => "woodslove1" %>
        <%= link_to cl_image_tag("inthewoodsforlove/in_the_woods_for_love_min12" , class: "galeria_foto"), cl_image_path("inthewoodsforlove/in_the_woods_for_love12"), class: "galeria_foto swipebox", "rel" => "woodslove1" %>
    </div>
    <%= link_to cl_image_tag("inthewoodsforlove/in_the_woods_for_love_min07" , class: "galeria_foto"), cl_image_path("inthewoodsforlove/in_the_woods_for_love07"), class: "galeria_foto swipebox", "rel" => "woodslove1" %>
    <%= link_to cl_image_tag("inthewoodsforlove/in_the_woods_for_love_min14" , class: "galeria_foto"), cl_image_path("inthewoodsforlove/in_the_woods_for_love14"), class: "galeria_foto swipebox", "rel" => "woodslove1" %>
    <%= link_to cl_image_tag("inthewoodsforlove/in_the_woods_for_love_min09" , class: "galeria_foto"), cl_image_path("inthewoodsforlove/in_the_woods_for_love09"), class: "galeria_foto swipebox", "rel" => "woodslove1" %>
    <%= link_to cl_image_tag("inthewoodsforlove/in_the_woods_for_love_min10" , class: "galeria_foto"), cl_image_path("inthewoodsforlove/in_the_woods_for_love10"), class: "galeria_foto swipebox", "rel" => "woodslove1" %>
    <div class="dosvert">
        <%= link_to cl_image_tag("inthewoodsforlove/in_the_woods_for_love_min11" , class: "galeria_foto"), cl_image_path("inthewoodsforlove/in_the_woods_for_love11"), class: "galeria_foto swipebox", "rel" => "woodslove1" %>
    <%= link_to cl_image_tag("inthewoodsforlove/in_the_woods_for_love_min13" , class: "galeria_foto"), cl_image_path("inthewoodsforlove/in_the_woods_for_love13"), class: "galeria_foto swipebox", "rel" => "woodslove1" %>
    </div>
    <%= link_to cl_image_tag("inthewoodsforlove/in_the_woods_for_love_min15" , class: "galeria_foto"), cl_image_path("inthewoodsforlove/in_the_woods_for_love15"), class: "galeria_foto swipebox", "rel" => "woodslove1" %>

    
    

    
    
</div>
</div>













