
<div class="main_content">
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="galeriaside">
<%= render 'galeriaprinc'%>
</div>
</div>



    <div id="imalacour">
    </div>

    <div class="gal_tit_dos">
        <h1>La Cour Des Miracles</h1>
    </div>

    <div class="galeria">

        <div class="info">
            <button class="accordion"><i class="fa fa-info" aria-hidden="true"></i> Fiesta<i class="fa fa-chevron-down" id="arrow" aria-hidden="true"></i>
            </button>

            
            <div class="panel">
            <%= cl_image_tag("afiches/la_cour_des_miracles" , class: "afiche") %>
            <div class="textopanel">
            <p>Niños de la bohemia, vagabundos felices, pregoneros de la calle, lanzadores de cuchillos, poetas frívolos, trovadores insaciables, tragafuegos sin miedo.
            En cada ciudad existen rincones perdidos, pasillos olvidados, callejones oscuros… una especie de zona franca, un espacio liberado de la influencia social con códigos y reglas propias. <br>
            Un enclave maravilloso donde viven personas consideradas indeseables a los ojos del mundo y que, sin embargo, crean de la nada, arte, belleza y amor sin límites. 
            Este lugar se llama la «Corte de los Milagros».</p>
            <h3>18/08/2017</h3>
            <h3>Barabajo, Santiago</h3>
            <h3>Line Up</h3>
                <p><%= render 'galery/vinilicon' %> Mer Esnal</p>
                <p><%= render 'galery/vinilicon' %> Oscar Campbell B2B DJ Sarti</p>
                <p><%= render 'galery/vinilicon' %> Valentina B2B Polifonik</p>
                <p><%= render 'galery/vinilicon' %> Deniroster</p>
                <%= cl_image_tag("lineup/linelacourdesmiracles.jpg" , class: "aficheline") %>
            <h3>Sonido: Funktion One</h3>
            <h3>Colaborador: Club Mate</h3>
            </div>
            </div>
        </div>


    
    <%= link_to cl_image_tag("lacourdesmiracles/la_cour_des_miracles_min01" , class: "galeria_foto"), cl_image_path("lacourdesmiracles/la_cour_des_miracles01"), class: "galeria_foto swipebox", "rel" => "lacour1" %>
    <%= link_to cl_image_tag("lacourdesmiracles/la_cour_des_miracles_min02" , class: "galeria_foto"), cl_image_path("lacourdesmiracles/la_cour_des_miracles02"), class: "galeria_foto swipebox", "rel" => "lacour1" %>
    <%= link_to cl_image_tag("lacourdesmiracles/la_cour_des_miracles_min03" , class: "galeria_foto"), cl_image_path("lacourdesmiracles/la_cour_des_miracles03"), class: "galeria_foto swipebox", "rel" => "lacour1" %>
    <%= link_to cl_image_tag("lacourdesmiracles/la_cour_des_miracles_min04" , class: "galeria_foto"), cl_image_path("lacourdesmiracles/la_cour_des_miracles04"), class: "galeria_foto swipebox", "rel" => "lacour1" %>
    <%= link_to cl_image_tag("lacourdesmiracles/la_cour_des_miracles_min05" , class: "galeria_foto"), cl_image_path("lacourdesmiracles/la_cour_des_miracles05"), class: "galeria_foto swipebox", "rel" => "lacour1" %>
    <%= link_to cl_image_tag("lacourdesmiracles/la_cour_des_miracles_min06" , class: "galeria_foto"), cl_image_path("lacourdesmiracles/la_cour_des_miracles06"), class: "galeria_foto swipebox", "rel" => "lacour1" %>
    <%= link_to cl_image_tag("lacourdesmiracles/la_cour_des_miracles_min07" , class: "galeria_foto"), cl_image_path("lacourdesmiracles/la_cour_des_miracles07"), class: "galeria_foto swipebox", "rel" => "lacour1" %>
    <%= link_to cl_image_tag("lacourdesmiracles/la_cour_des_miracles_min08" , class: "galeria_foto"), cl_image_path("lacourdesmiracles/la_cour_des_miracles08"), class: "galeria_foto swipebox", "rel" => "lacour1" %>
    <%= link_to cl_image_tag("lacourdesmiracles/la_cour_des_miracles_min09" , class: "galeria_foto"), cl_image_path("lacourdesmiracles/la_cour_des_miracles09"), class: "galeria_foto swipebox", "rel" => "lacour1" %>
    <%= link_to cl_image_tag("lacourdesmiracles/la_cour_des_miracles_min10" , class: "galeria_foto"), cl_image_path("lacourdesmiracles/la_cour_des_miracles10"), class: "galeria_foto swipebox", "rel" => "lacour1" %>
    <%= link_to cl_image_tag("lacourdesmiracles/la_cour_des_miracles_min11" , class: "galeria_foto"), cl_image_path("lacourdesmiracles/la_cour_des_miracles11"), class: "galeria_foto swipebox", "rel" => "lacour1" %>
    <%= link_to cl_image_tag("lacourdesmiracles/la_cour_des_miracles_min12" , class: "galeria_foto"), cl_image_path("lacourdesmiracles/la_cour_des_miracles12"), class: "galeria_foto swipebox", "rel" => "lacour1" %>
    <%= link_to cl_image_tag("lacourdesmiracles/la_cour_des_miracles_min13" , class: "galeria_foto"), cl_image_path("lacourdesmiracles/la_cour_des_miracles13"), class: "galeria_foto swipebox", "rel" => "lacour1" %>
    <%= link_to cl_image_tag("lacourdesmiracles/la_cour_des_miracles_min14" , class: "galeria_foto"), cl_image_path("lacourdesmiracles/la_cour_des_miracles14"), class: "galeria_foto swipebox", "rel" => "lacour1" %>
    <%= link_to cl_image_tag("lacourdesmiracles/la_cour_des_miracles_min15" , class: "galeria_foto"), cl_image_path("lacourdesmiracles/la_cour_des_miracles15"), class: "galeria_foto swipebox", "rel" => "lacour1" %>
    <%= link_to cl_image_tag("lacourdesmiracles/la_cour_des_miracles_min16" , class: "galeria_foto"), cl_image_path("lacourdesmiracles/la_cour_des_miracles16"), class: "galeria_foto swipebox", "rel" => "lacour1" %>
    <%= link_to cl_image_tag("lacourdesmiracles/la_cour_des_miracles_min17" , class: "galeria_foto"), cl_image_path("lacourdesmiracles/la_cour_des_miracles17"), class: "galeria_foto swipebox", "rel" => "lacour1" %>
    <%= link_to cl_image_tag("lacourdesmiracles/la_cour_des_miracles_min18" , class: "galeria_foto"), cl_image_path("lacourdesmiracles/la_cour_des_miracles18"), class: "galeria_foto swipebox", "rel" => "lacour1" %>
    <%= link_to cl_image_tag("lacourdesmiracles/la_cour_des_miracles_min19" , class: "galeria_foto"), cl_image_path("lacourdesmiracles/la_cour_des_miracles19"), class: "galeria_foto swipebox", "rel" => "lacour1" %>
    <%= link_to cl_image_tag("lacourdesmiracles/la_cour_des_miracles_min20" , class: "galeria_foto"), cl_image_path("lacourdesmiracles/la_cour_des_miracles20"), class: "galeria_foto swipebox", "rel" => "lacour1" %>
    

    
    
</div>
</div>














