
<div class="main_content">
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="galeriaside">
<%= render 'galeriaprinc'%>
</div>
</div>

<span id="botonside" style="font-size:30px;cursor:pointer" onclick="openNav()">Galeria</span>

    <div id="imalibera">
    </div>

    <div class="gal_tit_dos">
        <h1>Libera <br> Musica</h1>
    </div>

    <div class="galeria">

        <div class="info">
            <button class="accordion"><i class="fa fa-info" aria-hidden="true"></i> Fiesta<i class="fa fa-chevron-down" id="arrow" aria-hidden="true"></i>
            </button>

            
            <div class="panel">
            <%= cl_image_tag("afiches/libera_musica" , class: "afiche") %>
            <div class="textopanel">
            <p>La Casa Bolívar es un centro cultural con vínculos sociopolíticos. Esta vez, dejamos que
                los muros cuenten la historia de Sudamérica. Coloridos murales formaron el escenario
                para una fiesta electrónica con acentos latinos</p>
            <h3>30/04/2016</h3>
            <h3>Casa Bolívar, Barrio Brasil, Santiago</h3>
            <h3>Line Up</h3>
            <ul>
                <li>Inti Kunza - Santiago/Chile</li>
                <li>Alejandro Caro - Santiago/Chile</li>
                <li>Michelangelo Buzzi - Milan/Italia</li>
                <li>Oscar Campbell - Santiago/Chile</li>
            </ul>
            <h3></h3>
            </div>
            </div>
        </div>

    <iframe src="https://www.youtube.com/embed/d3JU2as9bcE?rel=0" frameborder="0" allowfullscreen></iframe>
    
    <%= link_to cl_image_tag("liberamusica/libera_musica_min01" , class: "galeria_foto"), cl_image_path("liberamusica/libera_musica01"), "data-lightbox" => "lacour",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("liberamusica/libera_musica_min02" , class: "galeria_foto"), cl_image_path("liberamusica/libera_musica02"), "data-lightbox" => "lacour",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("liberamusica/libera_musica_min03" , class: "galeria_foto"), cl_image_path("liberamusica/libera_musica03"), "data-lightbox" => "lacour",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("liberamusica/libera_musica_min04" , class: "galeria_foto"), cl_image_path("liberamusica/libera_musica04"), "data-lightbox" => "lacour",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("liberamusica/libera_musica_min05" , class: "galeria_foto"), cl_image_path("liberamusica/libera_musica05"), "data-lightbox" => "lacour",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("liberamusica/libera_musica_min06" , class: "galeria_foto"), cl_image_path("liberamusica/libera_musica06"), "data-lightbox" => "lacour",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("liberamusica/libera_musica_min07" , class: "galeria_foto"), cl_image_path("liberamusica/libera_musica07"), "data-lightbox" => "lacour",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("liberamusica/libera_musica_min08" , class: "galeria_foto"), cl_image_path("liberamusica/libera_musica08"), "data-lightbox" => "lacour",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("liberamusica/libera_musica_min09" , class: "galeria_foto"), cl_image_path("liberamusica/libera_musica09"), "data-lightbox" => "lacour",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("liberamusica/libera_musica_min10" , class: "galeria_foto"), cl_image_path("liberamusica/libera_musica10"), "data-lightbox" => "lacour",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("liberamusica/libera_musica_min11" , class: "galeria_foto"), cl_image_path("liberamusica/libera_musica11"), "data-lightbox" => "lacour",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("liberamusica/libera_musica_min12" , class: "galeria_foto"), cl_image_path("liberamusica/libera_musica12"), "data-lightbox" => "lacour",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("liberamusica/libera_musica_min13" , class: "galeria_foto"), cl_image_path("liberamusica/libera_musica13"), "data-lightbox" => "lacour",  class: "galeria_foto" %>

    
    

    
    
</div>
</div>

<script>
    function openNav() {
            document.getElementById("mySidenav").style.width = "100%";
        }
        
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
</script>












