
<div class="main_content">
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="galeriaside">
<%= render 'galeriaprinc'%>
</div>
</div>

<span id="botonside" style="font-size:30px;cursor:pointer" onclick="openNav()">Galeria</span>

    <div id="imaphysical">
    </div>

    <div class="gal_tit">
        <h1>Physical</h1>
    </div>

    <div class="galeria">

        <div class="info">
            <button class="accordion"><i class="fa fa-info" aria-hidden="true"></i> Fiesta<i class="fa fa-chevron-down" id="arrow" aria-hidden="true"></i>
            </button>

            
            <div class="panel">
            <%= cl_image_tag("afiches/physical" , class: "afiche") %>
            <div class="textopanel">
            <p>En un antiguo garaje de cemento y aspecto industrial decidimos volver al pasado, a la
                época colorida donde todo parecía permitido: los años 80. Iconos ochenteros, juegos
                arcade, figuras fluor y disfraces kitch eran la ambientación de esta fiesta extendida hasta
                las 8 am</p>
            <h3>21/04/2017</h3>
            <h3>Casa Rosas con Bulnes, Barrio Brasil, Santiago</h3>
            <h3>Line Up</h3>
            <ul>
                <li>Bamba - Santiago/Chile</li>
                <li>Lisa Cropp - Hamburgo/Alemania</li>
                <li>Andrea Paz - Santiago/Chile</li>
                <li>Leo Vargas - Valparaíso/Chile</li>
            </ul>
            <h3>Sonido: Funktion One</h3>
            <h3>Colaborador: Club Mate</h3>
            </div>
            </div>
        </div>

    <iframe src="https://www.youtube.com/embed/d3JU2as9bcE?rel=0" frameborder="0" allowfullscreen></iframe>
    
    <%= link_to cl_image_tag("physical/physical_min01" , class: "galeria_foto"), cl_image_path("physical/physical01"), "data-lightbox" => "lacour",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("physical/physical_min02" , class: "galeria_foto"), cl_image_path("physical/physical02"), "data-lightbox" => "lacour",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("physical/physical_min03" , class: "galeria_foto"), cl_image_path("physical/physical03"), "data-lightbox" => "lacour",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("physical/physical_min04" , class: "galeria_foto"), cl_image_path("physical/physical04"), "data-lightbox" => "lacour",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("physical/physical_min05" , class: "galeria_foto"), cl_image_path("physical/physical05"), "data-lightbox" => "lacour",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("physical/physical_min06" , class: "galeria_foto"), cl_image_path("physical/physical06"), "data-lightbox" => "lacour",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("physical/physical_min07" , class: "galeria_foto"), cl_image_path("physical/physical07"), "data-lightbox" => "lacour",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("physical/physical_min08" , class: "galeria_foto"), cl_image_path("physical/physical08"), "data-lightbox" => "lacour",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("physical/physical_min09" , class: "galeria_foto"), cl_image_path("physical/physical09"), "data-lightbox" => "lacour",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("physical/physical_min10" , class: "galeria_foto"), cl_image_path("physical/physical10"), "data-lightbox" => "lacour",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("physical/physical_min11" , class: "galeria_foto"), cl_image_path("physical/physical11"), "data-lightbox" => "lacour",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("physical/physical_min12" , class: "galeria_foto"), cl_image_path("physical/physical12"), "data-lightbox" => "lacour",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("physical/physical_min13" , class: "galeria_foto"), cl_image_path("physical/physical13"), "data-lightbox" => "lacour",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("physical/physical_min14" , class: "galeria_foto"), cl_image_path("physical/physical14"), "data-lightbox" => "lacour",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("physical/physical_min15" , class: "galeria_foto"), cl_image_path("physical/physical15"), "data-lightbox" => "lacour",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("physical/physical_min16" , class: "galeria_foto"), cl_image_path("physical/physical16"), "data-lightbox" => "lacour",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("physical/physical_min17" , class: "galeria_foto"), cl_image_path("physical/physical17"), "data-lightbox" => "lacour",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("physical/physical_min19" , class: "galeria_foto"), cl_image_path("physical/physical19"), "data-lightbox" => "lacour",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("physical/physical_min18" , class: "galeria_foto"), cl_image_path("physical/physical18"), "data-lightbox" => "lacour",  class: "galeria_foto" %>
    
    

    
    
</div>
</div>

<script>
    function openNav() {
            document.getElementById("mySidenav").style.width = "100%";
        }
        
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
</script>












