
<div class="main_content">
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="galeriaside">
<%= render 'galeriaprinc'%>
</div>
</div>

<span id="botonside" style="font-size:30px;cursor:pointer" onclick="openNav()">Galeria</span>

    <div id="imaredlight">
    </div>

    <div class="gal_tit_dos">
        <h1>Red <br> Light</h1>
    </div>

    <div class="galeria">

        <div class="info">
            <button class="accordion"><i class="fa fa-info" aria-hidden="true"></i> Fiesta<i class="fa fa-chevron-down" id="arrow" aria-hidden="true"></i>
            </button>

            
            <div class="panel">
            <%= cl_image_tag("afiches/red_light" , class: "afiche") %>
            <div class="textopanel">
            <p>Una gran casa desocupada de calle Catedral tiene un hermoso patio con árboles
                antiquísimos. Para embellecerla aun más, la cubrimos entera de rojo para transmitir
                pasión, amor y peligro</p>
            <h3>29/07/2016</h3>
            <h3>Casa Catedral, barrio Brasil, Santiago</h3>
            <h3>Line Up</h3>
                <p><%= render 'galery/vinilicon' %> Lisa Cropp - Hamburgo/Alemania</p>
                <p><%= render 'galery/vinilicon' %> Matías Jara - Santiago/Chile</p>
                <p><%= render 'galery/vinilicon' %> GALAXY - Santiago/Chile</p>
                <p><%= render 'galery/vinilicon' %> Pato Salinas - Santiago/Chile</p>
                <p><%= render 'galery/vinilicon' %> Claudio Arditti - Santiago/ Chile</p>
                <p><%= render 'galery/vinilicon' %> Siddhartha - Santiago/Chile</p>
            <h3></h3>
            </div>
            </div>
        </div>

    <iframe src="https://www.youtube.com/embed/d3JU2as9bcE?rel=0" frameborder="0" allowfullscreen></iframe>
    
    <%= link_to cl_image_tag("redlight/red_light_min01" , class: "galeria_foto"), cl_image_path("redlight/red_light01"), class: "galeria_foto swipebox", "rel" => "redlight1" %>
    <div class="dosvert">
        <%= link_to cl_image_tag("redlight/red_light_min02" , class: "galeria_foto"), cl_image_path("redlight/red_light02"), class: "galeria_foto swipebox", "rel" => "redlight1" %>
        <%= link_to cl_image_tag("redlight/red_light_min03" , class: "galeria_foto"), cl_image_path("redlight/red_light03"), class: "galeria_foto swipebox", "rel" => "redlight1" %>
    </div>
    <div class="dosvert">
        <%= link_to cl_image_tag("redlight/red_light_min04" , class: "galeria_foto"), cl_image_path("redlight/red_light04"), class: "galeria_foto swipebox", "rel" => "redlight1" %>
        <%= link_to cl_image_tag("redlight/red_light_min06" , class: "galeria_foto"), cl_image_path("redlight/red_light06"), class: "galeria_foto swipebox", "rel" => "redlight1" %>
    </div>
    <%= link_to cl_image_tag("redlight/red_light_min05" , class: "galeria_foto"), cl_image_path("redlight/red_light05"), class: "galeria_foto swipebox", "rel" => "redlight1" %>
    <%= link_to cl_image_tag("redlight/red_light_min07" , class: "galeria_foto"), cl_image_path("redlight/red_light07"), class: "galeria_foto swipebox", "rel" => "redlight1" %>
    <%= link_to cl_image_tag("redlight/red_light_min08" , class: "galeria_foto"), cl_image_path("redlight/red_light08"), class: "galeria_foto swipebox", "rel" => "redlight1" %>
    <%= link_to cl_image_tag("redlight/red_light_min09" , class: "galeria_foto"), cl_image_path("redlight/red_light09"), class: "galeria_foto swipebox", "rel" => "redlight1" %>
    <%= link_to cl_image_tag("redlight/red_light_min10" , class: "galeria_foto"), cl_image_path("redlight/red_light10"), class: "galeria_foto swipebox", "rel" => "redlight1" %>
    <%= link_to cl_image_tag("redlight/red_light_min11" , class: "galeria_foto"), cl_image_path("redlight/red_light11"), class: "galeria_foto swipebox", "rel" => "redlight1" %>
    <%= link_to cl_image_tag("redlight/red_light_min12" , class: "galeria_foto"), cl_image_path("redlight/red_light12"), class: "galeria_foto swipebox", "rel" => "redlight1" %>
    <div class="dosvert">
        <%= link_to cl_image_tag("redlight/red_light_min13" , class: "galeria_foto"), cl_image_path("redlight/red_light13"), class: "galeria_foto swipebox", "rel" => "redlight1" %>
    <%= link_to cl_image_tag("redlight/red_light_min16" , class: "galeria_foto"), cl_image_path("redlight/red_light16"), class: "galeria_foto swipebox", "rel" => "redlight1" %>
    </div>
    <%= link_to cl_image_tag("redlight/red_light_min14" , class: "galeria_foto"), cl_image_path("redlight/red_light14"), class: "galeria_foto swipebox", "rel" => "redlight1" %>
    <%= link_to cl_image_tag("redlight/red_light_min15" , class: "galeria_foto"), cl_image_path("redlight/red_light15"), class: "galeria_foto swipebox", "rel" => "redlight1" %>
    <%= link_to cl_image_tag("redlight/red_light_min17" , class: "galeria_foto"), cl_image_path("redlight/red_light17"), class: "galeria_foto swipebox", "rel" => "redlight1" %>
    <%= link_to cl_image_tag("redlight/red_light_min19" , class: "galeria_foto"), cl_image_path("redlight/red_light19"), class: "galeria_foto swipebox", "rel" => "redlight1" %>
    <%= link_to cl_image_tag("redlight/red_light_min18" , class: "galeria_foto"), cl_image_path("redlight/red_light18"), class: "galeria_foto swipebox", "rel" => "redlight1" %>
    
    

    
    
</div>
</div>

<script>
    function openNav() {
            document.getElementById("mySidenav").style.width = "100%";
        }
        
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
</script>












