
<div class="main_content">
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="galeriaside">
<%= render 'galeriaprinc'%>
</div>
</div>

<span id="botonside" style="font-size:30px;cursor:pointer" onclick="openNav()">Galeria</span>

    <div id="imasintom">
    </div>

    <div class="gal_tit_dos">
        <h1>Sintomas <br>Dieciocheros</h1>
    </div>

    <div class="galeria">

        <div class="info">
            <button class="accordion"><i class="fa fa-info" aria-hidden="true"></i> Fiesta<i class="fa fa-chevron-down" id="arrow" aria-hidden="true"></i>
            </button>

            
            <div class="panel">
            
            <div class="textopanel">
            <p>Inauguración de proyecto Fonda Mental. La casa, construida a principios del siglo XX,
                fue ornamentada como una fonda típica chilena con bandera y colores nacionales.</p>
            <h3>12/09/2015</h3>
            <h3>Casa Cueto</h3>
            <h3>Line Up</h3>
                <p><%= render 'galery/vinilicon' %> Theo Mercadier - Paris/Francia</p>
                <p><%= render 'galery/vinilicon' %> Inerte - Paris/Francia</p>
                <p><%= render 'galery/vinilicon' %> Sebastián Díaz - Madrid/España</p>
            <h3></h3>
            </div>
            </div>
        </div>

    <iframe src="https://www.youtube.com/embed/d3JU2as9bcE?rel=0" frameborder="0" allowfullscreen></iframe>
    
    <%= link_to cl_image_tag("sintomasdieziocheros/sintomas_dieziocheros_min01" , class: "galeria_foto"), cl_image_path("sintomasdieziocheros/sintomas_dieziocheros01"), "data-lightbox" => "lacour",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("sintomasdieziocheros/sintomas_dieziocheros_min03" , class: "galeria_foto"), cl_image_path("sintomasdieziocheros/sintomas_dieziocheros03"), "data-lightbox" => "lacour",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("sintomasdieziocheros/sintomas_dieziocheros_min04" , class: "galeria_foto"), cl_image_path("sintomasdieziocheros/sintomas_dieziocheros04"), "data-lightbox" => "lacour",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("sintomasdieziocheros/sintomas_dieziocheros_min05" , class: "galeria_foto"), cl_image_path("sintomasdieziocheros/sintomas_dieziocheros05"), "data-lightbox" => "lacour",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("sintomasdieziocheros/sintomas_dieziocheros_min02" , class: "galeria_foto"), cl_image_path("sintomasdieziocheros/sintomas_dieziocheros02"), "data-lightbox" => "lacour",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("sintomasdieziocheros/sintomas_dieziocheros_min06" , class: "galeria_foto"), cl_image_path("sintomasdieziocheros/sintomas_dieziocheros06"), "data-lightbox" => "lacour",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("sintomasdieziocheros/sintomas_dieziocheros_min07" , class: "galeria_foto"), cl_image_path("sintomasdieziocheros/sintomas_dieziocheros07"), "data-lightbox" => "lacour",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("sintomasdieziocheros/sintomas_dieziocheros_min08" , class: "galeria_foto"), cl_image_path("sintomasdieziocheros/sintomas_dieziocheros08"), "data-lightbox" => "lacour",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("sintomasdieziocheros/sintomas_dieziocheros_min09" , class: "galeria_foto"), cl_image_path("sintomasdieziocheros/sintomas_dieziocheros09"), "data-lightbox" => "lacour",  class: "galeria_foto" %>
    <%= link_to cl_image_tag("sintomasdieziocheros/sintomas_dieziocheros_min10" , class: "galeria_foto"), cl_image_path("sintomasdieziocheros/sintomas_dieziocheros10"), "data-lightbox" => "lacour",  class: "galeria_foto" %>

    
    

    
    
</div>
</div>

<script>
    function openNav() {
            document.getElementById("mySidenav").style.width = "100%";
        }
        
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
</script>












