<div id="fonda_mental3" style="padding-bottom:0;">
    <h1>Equipo</h1>

    <div class="textofunda">
    <p id="tfund3">

        Detrás de todo gran proyecto, hay pasión y gente que la usa como motor de su motivación. Estas personas siempre están detrás del telón, sus nombres no lucen mucho pero son indispensables ante todo.  Nuestro equipo se conformó hace un par de años con personajes de diferentes partes del planeta. Con gustos variados, esta fusión multicultural de locuras y experiencias ha permitido inyectar ideas nuevas y frescas a la Fonda Mental.  Los fuertes lazos de amistad, el amor por el techno y la idea comun de cómo compartirlo de manera underground, hacen el resto de la magia…
    </p>
</div>

<div class="equipo_perfiles">
    <div class="person_equipo">
        <%= cl_image_tag("fotos_equipo/antoine_equipo.jpg") %>
        <h2>Antoine Jeanneau</h2>
    </div>

    <div class="person_equipo">
        <%= cl_image_tag("fotos_equipo/lina_equipo.png") %>
        <h2>Lina Mayorga</h2>
    </div>

    <div class="person_equipo">
        <%= cl_image_tag("fotos_equipo/mario_equipo.jpg") %>
        <h2>Mario Gutierrez</h2>
    </div>

    <div class="person_equipo">
        <%= cl_image_tag("fotos_equipo/dani_equipo.jpg") %>
        <h2>Daniel López-Bachiller</h2>
    </div>

    <div class="person_equipo">
        <%= cl_image_tag("fotos_equipo/quetzal_equipo1.jpg") %>
        <h2>Quetzal Sáez</h2>
    </div>

    <div class="person_equipo ultimo_perfil">
        <%= cl_image_tag("fotos_equipo/ivan_equipo.jpg") %>
        <h2>Ivan Varas</h2>
    </div>
</div>

</div>

<div id="fonda_mental3" style="padding-top:0;">
<h1>Fundadores</h1>
    <div id="imagenfunda">
    </div>
    <%# <p>Un grupo de todas partes del mundo. Diferentes orígenes, idiomas y gustos: Nos une el
amor al techno, la creación y la buena onda.</p> %>
        <div class="textofunda">
            <p id="tfund1"> <strong style="color: #f2d989;">Antoine Jeanneau</strong>, de origen francés y de residencia en Chile hace 3 años, ha logrado mimetizarse con el pueblo
                nacional en un corto tiempo. Con su gran conocimiento y experiencia de la escena electrónica europea desea
                entregar al país la verdadera forma de vivir el techno underground. Dado su extensa vida nocturna en Paris
                y Berlín desde su adolescencia y su cercanía con varios DJs y productores, Antoine cuenta con facultad de
                opinión fina y precisa para elegir artistas en base a sus técnicas e identidad musical. Es el director ejecutivo
                y artístico del proyecto.
            </p>
            <p id="tfund2">
                <strong style="color: #f2d989;">Javier Salinas</strong>, chileno, gran orador, fanático de las fiestas como pocos; su lado sociable no tiene ninguna comparación.
                Ingeniero de formación académica, aporta al proyecto sus habilidades organizacionales y otorga una estructura
                formal y ordenada. Además por ser chileno, conoce bien los códigos del país, relacionando público y profesionales
                del medio. Javier es actualmente el manager y representante de Fonda Mental Records y de sus DJs residentes
            </p>
        </div>
</div>

