<% @title = "Colaboradores" %>

<div id="colaborades-total">
    <%# <div id="colaboradores-titulo">
        <h1>Colaboradores</h1>
    </div> %>
    <div class="colaboradores" id="clubmate">
        <a href="https://www.facebook.com/CLUBMATEChile/" target="_blank"><%= cl_image_tag("colaboradores/club_mate.png") %></a>
    </div>
    <div class="colaboradores" id="funktionone">
        <h2>Sonido</h2>
        <a target="_blank" href="https://www.purpuraproducciones.cl/">
            <%= cl_image_tag("colaboradores/funktion.png") %>
            <p>a través de</p>
            <%= cl_image_tag("colaboradores/purpura1.png") %>
        </a>
    </div>
    
    <div class="colaboradores" id="vj">
        <h2>Visuales</h2>
        <a target="_blank" href="https://www.facebook.com/sebastian.villegas.39142">
            <%= cl_image_tag("colaboradores/sebastianvj.jpg") %>
            <p>Sebastian Villegas</p>
        </a>
    </div>
    <div class="colaboradores" id="colaborador-foto">
        <h2>Fotos</h2>
        <a target="_blank" href="http://sabinegreppo.com/">
            <%= cl_image_tag("colaboradores/sabinefoto.jpg") %>
            <p>Sabine Greppo</p>
        </a>
    </div>
    <div class="colaboradores" id="colaborador-video">
        <h2>Video</h2>
        <a target="_blank" href="https://www.facebook.com/javiersanhuezau">
            <%= cl_image_tag("colaboradores/javiervideo.jpg") %>
            <p>Javier Sanhueza</p>
        </a> 
    </div>
    <div class="colaboradores" id="colaborador-decoracion">
        <h2>Decoración</h2>
        <a target="_blank" href="https://www.facebook.com/oscar.jeannouz">
            <%= cl_image_tag("colaboradores/oscardeco.jpg") %>
            <p>Oscar Jeanneau</p>
        </a> 
    </div>

</div>
