<div class="main_content">

    


    <div class="info" id="info">
            <button class="accordion" id="accordion" style="font-size:5vmax;margin-top: 100px;"><span style="font-size:5vmax;">24-26/11/2017</span> <br> Abrecielo <br> <i class="fa fa-angle-down" aria-hidden="true"></i> <i class="fa fa-angle-up" aria-hidden="true"></i>
            </button>
            <div class="panel">
                <div class="proxevent" style="color:#D4D4D4;">
        <%# <h1>Proximo Evento</h1> %>
        <%= cl_image_tag("lineup/lineabrecielo.jpg" , class: "aficheline") %>
        <div class="textoevnthome">
                <h3 id="proxprog">Vi 24 - Do 26 Noviembre</h3>
                <h3 id="dondeprox">Cabildo, Chile, V Región</h3>
                <p id="contacto">Entradas: <br> +569 8185 2306</p>
                <p id="descripcion">Abramos el cielo al paisaje de las estrellas fugaces, a la caída de los meteoritos, al incandescente camino de los cometas!</p>
                <div class="line_up">
                <hr>
                    <div class="texto">
                        <h3>Line Up</h3>
                        <p><%= render 'galery/vinilicon' %> Inti Kunza + Koby Perc - Chile/La Chimba Discos</p>
                        <p><%= render 'galery/vinilicon' %> Daniel Parra - Chile/Sonido Likido</p>
                        <p><%= render 'galery/vinilicon' %> Ricardo Molinari - Chile/Pacha CL</p>
                        <p><%= render 'galery/vinilicon' %> Sarnival - España/UFO Group/Advance Techno</p>
                        <p><%= render 'galery/vinilicon' %> Lisa Cropp - Alemania/Fonda Mental</p>
                        <p><%= render 'galery/vinilicon' %> Jean Madry - Francia/Fonda Mental</p>
                        <p><%= render 'galery/vinilicon' %> Deniroster Lab - Francia/Fonda Mental</p>
                        <p><%= render 'galery/vinilicon' %> Agustin Klein - Argentina/Sousa Label</p>
                        <p><%= render 'galery/vinilicon' %> Okin - Francia</p>
                        <p><%= render 'galery/vinilicon' %> Mer Esnal - Argentina</p>
                        <p><%= render 'galery/vinilicon' %> Sebastián Cárcamo - Chile</p>
                        <p><%= render 'galery/vinilicon' %> Hawer Sanchez - Colombia/NO NAME</p>
                    </div>
                    <%= image_tag("abrecieloline.jpg" , class: "aficheprinc") %>
                <hr>
                </div>
                <p id="descripcion">Preventas - $30.000 (120 cupos) Incluye:</p>
                    <ul id="incluye">
                    <li>Entrada al Festival</li>
                    <li>Transporte ida/vuelta a Cabildo, V Region</li>
                    <li>2 noches de camping (duchas y baños)</li>
                    <li>30 horas de Música</li>
                    <li>12 Djs</li>
                    <li>Sonido Funktion One</li>
                    <li>Piscina Natural</li>
                    <li>Food Trucks</li>
                    <li>Barra a precio justo</li>
                </ul>
                
                
                 
            </div>
    </div>
            </div>
    </div>

     <div class="info" id="info">
            <button class="accordion" id="accordion"><span>8/09/2017</span> <br> Furia Patria <br> <i class="fa fa-angle-down" aria-hidden="true"></i> <i class="fa fa-angle-up" aria-hidden="true"></i>
            </button>

            
            <div class="panel">
            <%= cl_image_tag("afiches/fura_patria" , class: "afiche") %>
            <div class="textopanel">
            <p>Fue la celebración de nuestros dos años de vida y, junto a las fiestas de septiembre,
                quisimos hacer una fonda tradicional: banderas, sombreros, chinchineros y escándalo. En
                esta fonda el techno era el folclore nacional e hicimos un B2B entre Lisa Cropp y un
                chinchinero en vivo</p>
            <h3>08/09/2017</h3>
            <h3>Club Greta</h3>
            <h3>Line Up</h3>
                <p><%= render 'galery/vinilicon' %> Álvaro Blanco – Valencia/España</p>
                <p><%= render 'galery/vinilicon' %> Paula Burgos – Pto Varas/Chile</p>
                <p><%= render 'galery/vinilicon' %> Lisa Cropp – Hamburgo/Alemania</p>
                <p><%= render 'galery/vinilicon' %> Lorenzacio Clap – Paris/Francia</p>
                <p><%= render 'galery/vinilicon' %> Jean Madry – Paris/Francia</p>
                <%= cl_image_tag("lineup/linefuriapatria.jpg" , class: "aficheline") %>
            <h3>Sonido: Funktion One</h3>
            <h3>Colaborador: Club Mate</h3>
            </div>
            </div>
        </div>

        <div class="info" id="info">
            <button class="accordion" id="accordion"><span>18/08/2017</span> <br> La Cour Des Miracles <br> <i class="fa fa-angle-down" aria-hidden="true"></i> <i class="fa fa-angle-up" aria-hidden="true"></i>
            </button>

            
            <div class="panel infoe">
            <%= cl_image_tag("afiches/la_cour_des_miracles" , class: "afiche") %>
            <div class="textopanel">
            <p>Niños de la bohemia, vagabundos felices, pregoneros de la calle, lanzadores de cuchillos, poetas frívolos, trovadores insaciables, tragafuegos sin miedo.
            En cada ciudad existen rincones perdidos, pasillos olvidados, callejones oscuros… una especie de zona franca, un espacio liberado de la influencia social con códigos y reglas propias. <br>
            Un enclave maravilloso donde viven personas consideradas indeseables a los ojos del mundo y que, sin embargo, crean de la nada, arte, belleza y amor sin límites. 
            Este lugar se llama la «Corte de los Milagros».</p>
            <h3>18/08/2017</h3>
            <h3>Barabajo, Santiago</h3>
            <h3>Line Up</h3>
                <p><%= render 'galery/vinilicon' %> Mer Esnal</p>
                <p><%= render 'galery/vinilicon' %> Oscar Campbell B2B DJ Sarti</p>
                <p><%= render 'galery/vinilicon' %> Valentina B2B Polifonik</p>
                <p><%= render 'galery/vinilicon' %> Deniroster</p>
                <%= cl_image_tag("lineup/linelacourdesmiracles.jpg" , class: "aficheline") %>
            <h3>Sonido: Funktion One</h3>
            <h3>Colaborador: Club Mate</h3>
            </div>
            </div>
        </div>

        <div class="info" id="info">
            <button class="accordion" id="accordion"><span>16/07/2017</span> <br> FREE FALL <br> <i class="fa fa-angle-down" aria-hidden="true"></i> <i class="fa fa-angle-up" aria-hidden="true"></i> 
            </button>
            <div class="panel">
            <%= cl_image_tag("afiches/free_fall.jpg" , class: "afiche") %>
            <div class="textopanel">
                <p>Nos sumergimos en una caída libre. La mesa del DJ era una cabina de avión, maniquís colgaban del techo y los fondamentalistas bajaron directamente de las estrellas hasta la tierra y de la tierra hasta los bajos fondos de nuestra fiesta.</p>
                <h3>16/07/2017</h3>
                <h3>Club Greta, Bellavista, Santiago</h3>
                <h3>Line Up</h3>

                    <p><%= render 'galery/vinilicon' %> Alejandro Paz – Santiago/Chile</p>
                    <p><%= render 'galery/vinilicon' %> Jean Madry – Paris/Francia</p>
                    <p><%= render 'galery/vinilicon' %> Inerte – Paris/Francia</p>
                    <%= cl_image_tag("lineup/linefreefall.jpg" , class: "aficheline") %>

                <h3>Sonido: Funktion One</h3>
                <h3>Colaborador: Club Mate</h3>
            </div>
            
            
            </div>
        </div>

        <div class="info">
            <button class="accordion" id="accordion"> <span>21/04/2017</span> <br> Physical <br> <i class="fa fa-angle-down" aria-hidden="true"></i> <i class="fa fa-angle-up" aria-hidden="true"></i>
            </button>

            
            <div class="panel">
            <%= cl_image_tag("afiches/physical" , class: "afiche") %>
            <div class="textopanel">
            <p>En un antiguo garaje de cemento y aspecto industrial decidimos volver al pasado, a la
                época colorida donde todo parecía permitido: los años 80. Iconos ochenteros, juegos
                arcade, figuras fluor y disfraces kitch eran la ambientación de esta fiesta extendida hasta
                las 8 am</p>
            <h3>21/04/2017</h3>
            <h3>Casa Rosas con Bulnes, Barrio Brasil, Santiago</h3>
            <h3>Line Up</h3>
                <p><%= render 'galery/vinilicon' %> Bamba - Santiago/Chile</p>
                <p><%= render 'galery/vinilicon' %> Lisa Cropp - Hamburgo/Alemania</p>
                <p><%= render 'galery/vinilicon' %> Andrea Paz - Santiago/Chile</p>
                <p><%= render 'galery/vinilicon' %> Leo Vargas - Valparaíso/Chile</p>
                <%= cl_image_tag("lineup/linephysical.jpg" , class: "aficheline") %>
            <h3>Sonido: Funktion One</h3>
            <h3>Colaborador: Club Mate</h3>
            </div>
            </div>
        </div>

        <div class="info">
            <button class="accordion" id="accordion"><span>10/03/2017</span> <br> Technorama <br> <i class="fa fa-angle-down" aria-hidden="true"></i> <i class="fa fa-angle-up" aria-hidden="true"></i>
            </button>

            
            <div class="panel">
            <%= cl_image_tag("afiches/technorama" , class: "afiche") %>
            <div class="textopanel">
            <p>Volvimos a uno de nuestros lugares favoritos para inaugurar la temporada 2017. La idea
                era un viaje en nave espacial hacia una technogalaxia. La nave estaba piloteada por tres
                DJ’s astronautas</p>
            <h3>10/03/2017</h3>
            <h3>Casa Catedral, Barrio Brasil, Santiago</h3>
            <h3>Line Up</h3>
                <p><%= render 'galery/vinilicon' %> Marie Coiffure - Paris/France</p>
                <p><%= render 'galery/vinilicon' %> Inti Kunza - Santiago/Chile</p>
                <p><%= render 'galery/vinilicon' %> Claudio Arditti - Santiago/Chile</p>
                <%= cl_image_tag("lineup/linetechnorama.jpg" , class: "aficheline") %>
            <h3>Sonido: Funktion One</h3>
            </div>
            </div>
        </div>

        <div class="info">
            <button class="accordion" id="accordion"><span>19/11/2016</span><br>Femmes Fatales <br> <i class="fa fa-angle-down" aria-hidden="true"></i> <i class="fa fa-angle-up" aria-hidden="true"></i>
            </button>

            
            <div class="panel">
            <%= cl_image_tag("afiches/femmes_fatales" , class: "afiche") %>
            <div class="textopanel">
            <p>La bodega del Teatro Caupolicán es un galpón gigante. La idea fue celebrar a la mujer y
                la fuerza natural que sale de ellas en una fiesta tipo industrial</p>
            <h3>19/11/2016</h3>
            <h3>Bodega Teatro Caupolicán, Santiago Centro</h3>
            <h3>Line Up</h3>
                <p><%= render 'galery/vinilicon' %> Sirene - Buenos Aires/Argentina</p>
                <p><%= render 'galery/vinilicon' %> Lisa Cropp - Hamburgo/Alemania</p>
                <p><%= render 'galery/vinilicon' %> Umho - Santiago/Chile</p>
                <p><%= render 'galery/vinilicon' %> PMH - Paris/Francia</p>
                <%= cl_image_tag("lineup/linefemmesfatales.jpg" , class: "aficheline") %>
            <h3>Sonido: Funktion One</h3>
            </div>
            </div>
        </div>

        <div class="info">
            <button class="accordion" id="accordion"><span>29/07/2016</span><br>Red Light <br> <i class="fa fa-angle-down" aria-hidden="true"></i> <i class="fa fa-angle-up" aria-hidden="true"></i>
            </button>

            
            <div class="panel">
            <%= cl_image_tag("afiches/red_light" , class: "afiche") %>
            <div class="textopanel">
            <p>Una gran casa desocupada de calle Catedral tiene un hermoso patio con árboles
                antiquísimos. Para embellecerla aun más, la cubrimos entera de rojo para transmitir
                pasión, amor y peligro</p>
            <h3>29/07/2016</h3>
            <h3>Casa Catedral, barrio Brasil, Santiago</h3>
            <h3>Line Up</h3>
                <p><%= render 'galery/vinilicon' %> Lisa Cropp - Hamburgo/Alemania</p>
                <p><%= render 'galery/vinilicon' %> Matías Jara - Santiago/Chile</p>
                <p><%= render 'galery/vinilicon' %> GALAXY - Santiago/Chile</p>
                <p><%= render 'galery/vinilicon' %> Pato Salinas - Santiago/Chile</p>
                <p><%= render 'galery/vinilicon' %> Claudio Arditti - Santiago/ Chile</p>
                <p><%= render 'galery/vinilicon' %> Siddhartha - Santiago/Chile</p>
                <%= cl_image_tag("lineup/lineredlight.jpg" , class: "aficheline") %>
            <h3></h3>
            </div>
            </div>
        </div>

        <div class="info">
            <button class="accordion" id="accordion"><span>10/06/2016</span><br>Les Annees Folles <br> <i class="fa fa-angle-down" aria-hidden="true"></i> <i class="fa fa-angle-up" aria-hidden="true"></i>
            </button> 

            
            <div class="panel">
            <%= cl_image_tag("afiches/les_annes_folles" , class: "afiche") %>
            <div class="textopanel">
            <p>Celebramos la hermosa locura de los años 20` justo en medio de dos grandes guerras.
                Ambiente de jazz club, disfraces antiguos, visuales y atavíos de época completaron una
                fiesta electrónica con acentos del pasado</p>
            <h3>10/06/2016</h3>
            <h3>Casa Catedral, barrio Brasil, Santiago</h3>
            <h3>Line Up</h3>
                <p><%= render 'galery/vinilicon' %> Michelangelo Buzzi - Milano/Italia</p>
                <p><%= render 'galery/vinilicon' %> Ricardo Molinari - Santiago/Chile</p>
                <p><%= render 'galery/vinilicon' %> Greyhead - Santiago/Chile</p>
                <p><%= render 'galery/vinilicon' %> Daniel Klauser b2b Matías Rivera - Santiago/Chile</p>
                <%= cl_image_tag("lineup/linelesannesfolles.jpg" , class: "aficheline") %>
            <h3></h3>
            </div>
            </div>
        </div>

        <div class="info" id="info">
            <button class="accordion" id="accordion"><span>14/05/2016</span> <br> Camino Marginal <br> <i class="fa fa-angle-down" aria-hidden="true"></i> <i class="fa fa-angle-up" aria-hidden="true"></i>
            </button>

            
            <div class="panel">
            <%= cl_image_tag("afiches/camino_marginal" , class: "afiche") %>
            <div class="textopanel">
            <p>Camino Marginal fue la primera fiesta electrónica realizada en el bar La Konsulta. El
                lugar habla por sí mismo: deshecho, sucio, antiguo y oscuro. Una apología a la temática
                de esta fiesta escondida en la noche santiaguina</p>
            <h3>14/05/2016</h3>
            <h3>Cenicero Club, Santiago Centro</h3>
            <h3>Line Up</h3>
                <p><%= render 'galery/vinilicon' %> Square Neck - Bretaña/Francia</p>
                <p><%= render 'galery/vinilicon' %> Kamila Govorcin - Santiago/Chile</p>
                <p><%= render 'galery/vinilicon' %> Pato Salinas - Santiago/Chile</p>
                <p><%= render 'galery/vinilicon' %> Kenny - Santiago/Chile</p>
                <p><%= render 'galery/vinilicon' %> Mañungo - Santiago/Chile</p>
                <%= cl_image_tag("lineup/linecaminomarginal.jpg" , class: "aficheline") %>
            </div>
            </div>
        </div>

        <div class="info">
            <button class="accordion" id="accordion"><span>30/04/2016</span><br>Libera Musica <br> <i class="fa fa-angle-down" aria-hidden="true"></i> <i class="fa fa-angle-up" aria-hidden="true"></i>
            </button>

            
            <div class="panel">
            <%= cl_image_tag("afiches/libera_musica" , class: "afiche") %>
            <div class="textopanel">
            <p>La Casa Bolívar es un centro cultural con vínculos sociopolíticos. Esta vez, dejamos que
                los muros cuenten la historia de Sudamérica. Coloridos murales formaron el escenario
                para una fiesta electrónica con acentos latinos</p>
            <h3>30/04/2016</h3>
            <h3>Casa Bolívar, Barrio Brasil, Santiago</h3>
            <h3>Line Up</h3>
                <p><%= render 'galery/vinilicon' %> Inti Kunza - Santiago/Chile</p>
                <p><%= render 'galery/vinilicon' %> Alejandro Caro - Santiago/Chile</p>
                <p><%= render 'galery/vinilicon' %> Michelangelo Buzzi - Milan/Italia</p>
                <p><%= render 'galery/vinilicon' %> Oscar Campbell - Santiago/Chile</p>
                <%= cl_image_tag("lineup/lineliberamusica.jpg" , class: "aficheline") %>
            <h3></h3>
            </div>
            </div>
        </div>

        <div class="info">
            <button class="accordion" id="accordion"><span>12-13/12/2015</span><br>In the woods for love <br> <i class="fa fa-angle-down" aria-hidden="true"></i> <i class="fa fa-angle-up" aria-hidden="true"></i>
            </button>

            
            <div class="panel">
            <%= cl_image_tag("afiches/in_the_woods_for_love" , class: "afiche") %>
            <div class="textopanel">
            <p>Evento coproducido con Sonico Producción (Manuel García) en un bosque de pinos
                gigantes. Tuvimos la suerte tener una gran artista en la decoración: Romina Carvajal. La
                idea principal era la conexión con la naturaleza y se ornamentó con iluminación
                especial, atrapa sueños y telas reciclables para crear armonía entre el ser humano y la
                naturaleza</p>
            <h3>12/12/2015 - 13/12/2015</h3>
            <h3>Parque Callejones, Graneros, Rancagua</h3>
            <h3>Line Up</h3>
                <p><%= render 'galery/vinilicon' %> Ricardo Molinari (Santiago/Chile)</p>
                <p><%= render 'galery/vinilicon' %> Inerte (Paris/Chile)</p>
                <p><%= render 'galery/vinilicon' %> PMH (Paris/Chile)</p>
                <p><%= render 'galery/vinilicon' %> SquareNeck (Brest/Francia)</p>
                <p><%= render 'galery/vinilicon' %> Mutantes (Viña del Mar/Chile)</p>
                <p><%= render 'galery/vinilicon' %> GALAXY (Santiago/Chile)</p>
                <p><%= render 'galery/vinilicon' %> Sebastián Diaz (Madrid/España)</p>
            <h3></h3>
            </div>
            </div>
        </div>

        <div class="info">
            <button class="accordion" id="accordion"><span>28/11/2015</span><br>Flower Power <br> <i class="fa fa-angle-down" aria-hidden="true"></i> <i class="fa fa-angle-up" aria-hidden="true"></i>
            </button>

            
            <div class="panel">
            <%= cl_image_tag("afiches/flower_power" , class: "afiche") %>
            <div class="textopanel">
            <p>Volvimos al lugar que nos vio nacer y en honor a nuestra última fiesta (El llamado del
                desierto), decoramos la casa con miles de flores multicolores.</p>
            <h3>28/11/2015</h3>
            <h3>Casa Cueto, Santiago Centro</h3>
            <h3>Line Up</h3>
                <p><%= render 'galery/vinilicon' %> Inerte - Paris/Francia</p>
                <p><%= render 'galery/vinilicon' %> PMH - Paris/Francia</p>
                <p><%= render 'galery/vinilicon' %> Nicolai - Santiago/Chile</p>
                <p><%= render 'galery/vinilicon' %> McKenzy - Santiago/Chile</p>
            <h3></h3>
            </div>
            </div>
        </div>

        <div class="info">
            <button class="accordion" id="accordion"><span>19/11/2016</span><br>El llamado del desierto <br> <i class="fa fa-angle-down" aria-hidden="true"></i> <i class="fa fa-angle-up" aria-hidden="true"></i>
            </button>

            
            <div class="panel">
            <%= cl_image_tag("afiches/llamadogrupo" , class: "afiche") %>
            <div class="textopanel">
            <p>Primer mini festival realizado en el desierto (Punta de Choros). Contó con la
            colaboración de sus habitantes agrupados en la defensa de causas ambientales. El
            resultado fue disfrutar de una fiesta de más de 15 horas de música en medio del desierto
            florido. Además, el after fue un paseo en la Reserva Marítima con avistamiento de
            delfines y pingüinos</p>
            <h3>19/11/2016</h3>
            <h3>Desierto de Punta de Choros, IX region, Coquimbo</h3>
            <h3>Line Up</h3>
                 <p><%= render 'galery/vinilicon' %> Inerte - Paris/Francia</p>
                <p><%= render 'galery/vinilicon' %> Galaxy - Santiago/Chile</p>
                <p><%= render 'galery/vinilicon' %> Mutantes - Viña del Mar/Chile</p>
                <p><%= render 'galery/vinilicon' %> PMH - Paris/Francia</p>
            <h3>Sonido: Funktion One</h3>
            </div>
            </div>
        </div>

        <div class="info">
            <button class="accordion" id="accordion"><span>12/09/2015</span><br>Sintomas Dieciocheros <br> <i class="fa fa-angle-down" aria-hidden="true"></i> <i class="fa fa-angle-up" aria-hidden="true"></i>
            </button>

            
            <div class="panel">
            <%= cl_image_tag("afiches/sintomas" , class: "afiche") %>
            <div class="textopanel">
            <p>Inauguración de proyecto Fonda Mental. La casa, construida a principios del siglo XX,
                fue ornamentada como una fonda típica chilena con bandera y colores nacionales.</p>
            <h3>12/09/2015</h3>
            <h3>Casa Cueto</h3>
            <h3>Line Up</h3>
                <p><%= render 'galery/vinilicon' %> Theo Mercadier - Paris/Francia</p>
                <p><%= render 'galery/vinilicon' %> Inerte - Paris/Francia</p>
                <p><%= render 'galery/vinilicon' %> Sebastián Díaz - Madrid/España</p>
            <h3></h3>
            </div>
            </div>
        </div>

</div>
