<script>
    lightbox.option({
    'resizeDuration': 200,
    'wrapAround': true,
    'showImageNumberLabel': false
    'albumLabel': "%1 de %2"
  })
</script>
<div class="main_content">

    <div id="imafreefall">
    </div>

    <div class="galeria">

    <iframe src="https://www.youtube.com/embed/wl5nO5kLk6M?rel=0" frameborder="0" allowfullscreen></iframe>
    <%= link_to image_tag("free_fall/min/free_fall_min01.jpg" , class: "galeria_foto"), image_path("free_fall/free_fall01.jpg"), "data-lightbox" => "freefall",  class: "galeria_foto" %>
    <div class="gal_tit">
        <h1>Free Fall</h1>
    </div>
    <%= link_to image_tag("free_fall/min/free_fall_min02.jpg" , class: "galeria_foto"), image_path("free_fall/free_fall02.jpg"), "data-lightbox" => "freefall",  class: "galeria_foto" %>
    <%= link_to image_tag("free_fall/min/free_fall_min03.jpg" , class: "galeria_foto"), image_path("free_fall/free_fall03.jpg"), "data-lightbox" => "freefall",  class: "galeria_foto" %>
    <%= link_to image_tag("free_fall/min/free_fall_min04.jpg" , class: "galeria_foto"), image_path("free_fall/free_fall04.jpg"), "data-lightbox" => "freefall",  class: "galeria_foto" %>
    <%= link_to image_tag("free_fall/min/free_fall_min05.jpg" , class: "galeria_foto"), image_path("free_fall/free_fall05.jpg"), "data-lightbox" => "freefall",  class: "galeria_foto" %>
    <%= link_to image_tag("free_fall/min/free_fall_min06.jpg" , class: "galeria_foto"), image_path("free_fall/free_fall06.jpg"), "data-lightbox" => "freefall",  class: "galeria_foto" %>
    <%= link_to image_tag("free_fall/min/free_fall_min07.jpg" , class: "galeria_foto"), image_path("free_fall/free_fall07.jpg"), "data-lightbox" => "freefall",  class: "galeria_foto" %>
    <%= link_to image_tag("free_fall/min/free_fall_min08.jpg" , class: "galeria_foto"), image_path("free_fall/free_fall08.jpg"), "data-lightbox" => "freefall",  class: "galeria_foto" %>
    <%= link_to image_tag("free_fall/min/free_fall_min09.jpg" , class: "galeria_foto"), image_path("free_fall/free_fall09.jpg"), "data-lightbox" => "freefall",  class: "galeria_foto" %>
    <%= link_to image_tag("free_fall/min/free_fall_min10.jpg" , class: "galeria_foto"), image_path("free_fall/free_fall10.jpg"), "data-lightbox" => "freefall",  class: "galeria_foto" %>
    <%= link_to image_tag("free_fall/min/free_fall_min11.jpg" , class: "galeria_foto"), image_path("free_fall/free_fall11.jpg"), "data-lightbox" => "freefall",  class: "galeria_foto" %>
    <%= link_to image_tag("free_fall/min/free_fall_min12.jpg" , class: "galeria_foto"), image_path("free_fall/free_fall12.jpg"), "data-lightbox" => "freefall",  class: "galeria_foto" %>
    <%= link_to image_tag("free_fall/min/free_fall_min13.jpg" , class: "galeria_foto"), image_path("free_fall/free_fall13.jpg"), "data-lightbox" => "freefall",  class: "galeria_foto" %>
    <%= link_to image_tag("free_fall/min/free_fall_min14.jpg" , class: "galeria_foto"), image_path("free_fall/free_fall14.jpg"), "data-lightbox" => "freefall",  class: "galeria_foto" %>
    <%= link_to image_tag("free_fall/min/free_fall_min15.jpg" , class: "galeria_foto"), image_path("free_fall/free_fall15.jpg"), "data-lightbox" => "freefall",  class: "galeria_foto" %>
    
</div>
</div>

