<div class="main_content">

<div class="galeria_princ">
    <div class="imagen_evento">
        <h1>Free Fall</h1>
        <%= link_to image_tag("free_fall/free_fall14.jpg" , class: "galerynav"), media_freefall_path %>
    </div>
    <div class="imagen_evento">
        <h1>La Cour Des Miracles</h1>
        <%= link_to image_tag("la_cour/la_cour08.jpg" , class: "galerynav"), root_path %>
    </div>
    <div class="imagen_evento">
        <h1>Technorama</h1>
        <%= link_to image_tag("la_cour/la_cour06.jpg" , class: "galerynav"), root_path %>
    </div>
    <div class="imagen_evento">
        <h1>Free Fall</h1>
        <%= link_to image_tag("la_cour/la_cour02.jpg" , class: "galerynav"), root_path %>
    </div>
    <div class="imagen_evento">
        <h1>Free Fall</h1>
        <%= link_to image_tag("la_cour/la_cour09.jpg" , class: "galerynav"), root_path %>
    </div>
    <div class="imagen_evento">
        <h1>Free Fall</h1>
        <%= link_to image_tag("la_cour/la_cour01.jpg" , class: "galerynav"), root_path %>
    </div>
    <div class="imagen_evento">
        <h1>Free Fall</h1>
        <%= link_to image_tag("la_cour/la_cour04.jpg" , class: "galerynav"), root_path %>
    </div>
    <div class="imagen_evento">
        <h1>Free Fall</h1>
        <%= link_to image_tag("la_cour/la_cour11.jpg" , class: "galerynav"), root_path %>
    </div>
</div>

</div>
