<div class="main_content">

<div class="galeria_princ">

    <div class="imagen_evento anim8" id="trig3">
        <h1>Free Fall</h1>
        
        <%= link_to image_tag("free_fall/min/free_fall_min14.jpg" , class: "galerynav", "data-method" => "post"), galeria_freefall_path %>
    </div>
    <div class="imagen_evento anim7">
        <h1>La Cour Des Miracles</h1>
        <%= link_to image_tag("la_cour/min/la_cour_min08.jpg" , class: "galerynav"), galeria_la_cour_path %>
    </div>
    <div class="imagen_evento animated anim6" id="trig2">
        <h1>Technorama</h1>
        <%= link_to image_tag("la_cour/min/la_cour_min06.jpg" , class: "galerynav"), root_path %>
    </div>
    <div class="imagen_evento animated anim5">
        <h1>Free Fall</h1>
        <%= link_to image_tag("la_cour/min/la_cour_min02.jpg" , class: "galerynav"), root_path %>
    </div>
    <div class="imagen_evento animated anim4" id="trig1">
        <h1>Free Fall</h1>
        <%= link_to image_tag("la_cour/min/la_cour_min09.jpg" , class: "galerynav"), root_path %>
    </div>
    <div class="imagen_evento animated" id="anim3">
        <h1>Free Fall</h1>
        <%= link_to image_tag("la_cour/min/la_cour_min01.jpg" , class: "galerynav"), root_path %>
    </div>
    <div class="imagen_evento animated" id="anim2">
        <h1>Free Fall</h1>
        <%= link_to image_tag("la_cour/min/la_cour_min04.jpg" , class: "galerynav"), root_path %>
    </div>
    <div class="imagen_evento animated" id="anim1">
        <h1>Free Fall</h1>
        <%= link_to image_tag("la_cour/min/la_cour_min11.jpg" , class: "galerynav"), root_path %>
    </div>
</div>

</div>

