<% @title = "Home" %>

<div class="main_content" style="color:#D4D4D4;">

    <div class="imageslide">
        <div class="imagen_home1"></div>
    </div>
    <div class="proxevent" style="color:#D4D4D4;">
            <div class="textoevnthome">
                <h1 class="homepodcast">Próximas Fechas</h1>
                <div class="imagen_evento">
                    
                 </div>
               <div class="proxfecha" style="margin-bottom: 100px;">
                        <!-- <div id="carousel" class="owl-carousel owl-theme">
                            <div class="afiche-slide">
                                
                            </div>
                        </div> -->
                        <a  target="_blank" href="https://www.facebook.com/events/1176429719202421/"><%= cl_image_tag("afiches/via_sonora.jpg" , class: "aficheprinc") %></a>
                        <!-- <div><%= cl_image_tag("afiches/traumer_valores.jpg", class: "aficheprinc afichevalores") %></div> -->
                        <div class="textoevnthome">
                        <!-- <p id="contacto">Dirección: <br>  <a target="_blank" href="https://www.google.com/maps/place/Agustinas+2359,+Santiago,+Regi%C3%B3n+Metropolitana/@-33.4427004,-70.6699017,18z/data=!4m5!3m4!1s0x9662c5acb25da929:0x273d7339a3dfb7f7!8m2!3d-33.4426937!4d-70.6690461"><i class="fa fa-map-marker" aria-hidden="true"></i>
    Agustinas 2359, Santiago</a></p>
                            <p id="contacto" style="margin-top:-50px;">Entradas Online: <br> <a target="_blank" href="https://www.passline.com/eventos/traumer-francia--gettraum-3-aniversario-fonda-mental"><img src="http://res.cloudinary.com/quetzalss/image/upload/v1535583946/passline/passline-01.png" style="width:60%;margin-bottom:-60px;"></a></p>  
                            <p id="contacto">Entradas Directas: <br> <a target="_blank" href="https://api.whatsapp.com/send?phone=56972909385&text=Hola,%20quiero%20entradas%20para%20...%20"><i class="fa fa-whatsapp" aria-hidden="true"></i> +569 7290 9385</a></p>
                            <%# <div class="imagen_evento"></div> %>
                            <p id="descripcion">"El que camina derecho, encuentra siempre el camino suficientemente largo!" <br> - Proverbio Escoses </p> -->
                             <div class="line_up">
                            <!-- <hr> -->
                            <div class="texto">
                                <!-- <h3>Line Up</h3> -->
                                <p style="color:#58E5DA;"><%= render 'galery/vinilicon' %> Entrada: $6.000</p>
                                <p style="color:#F2D989;"><%= render 'galery/vinilicon' %> Terraza frente al mar (Hotel Santorini – El Quisco)</p>
                                <p style="color:#58E5DA;"><%= render 'galery/vinilicon' %> Bus Ida y Vuelta</p>
                                <p style="color:#F2D989;"><%= render 'galery/vinilicon' %> 12 horas de música electrónica</p>
                                <p style="color:#58E5DA;"><%= render 'galery/vinilicon' %> 6 DJs</p>
                                <p style="color:#F2D989;"><%= render 'galery/vinilicon' %> Exquisita Paella, cortesía de la casa</p>
                                <p style="color:#58E5DA;"><%= render 'galery/vinilicon' %> Barra y Stand de comida</p>
                                <p style="color:#F2D989;"><%= render 'galery/vinilicon' %> Chill-out</p>
                            </div>
                            
                            <!-- <%= cl_image_tag("lineup/line_street4.jpg" , class: "aficheprinc") %> -->
                        </div>
                    </div>
                </div>  
            </div>
    </div>

    <div class="imageslide" style="margin-top:0px">
        <div class="imagen_home2"></div>
    </div>
</div>