<% @title = "Home" %>

<div class="main_content" style="color:#D4D4D4;">

    <div class="imageslide">
        <div class="imagen_home1"></div>
    </div>
    <div class="proxevent" style="color:#D4D4D4;">
            <div class="textoevnthome">
                <h1 class="homepodcast">Próximas Fechas</h1>
                <div class="imagen_evento">
                    
                 </div>
               <div class="proxfecha" style="margin-bottom: 100px;">
               <video preload loop muted autoplay>
                    <source src="https://res.cloudinary.com/quetzalss/video/upload/ac_none/v1538404428/video/final_acelerado_medio.mp4" type="video/mp4">
                </video>
                        <div id="carousel" class="owl-carousel owl-theme">
                            <div class="afiche-slide">
                                <a  target="_blank" href="https://www.facebook.com/events/233446797311746/"><%= cl_image_tag("afiches/lamaquinaquesuena.jpg" , class: "aficheprinc") %></a>
                            </div>
                            <div class="afiche-slide">
                                <a  target="_blank" href="https://www.facebook.com/events/684175075273683/"><%= cl_image_tag("afiches/banner_street_haiti.jpg" , class: "aficheprinc") %></a>
                            </div>
                        </div>
                        <%= cl_image_tag("afiches/traumer_valores.jpg", class: "aficheprinc afichevalores") %>
                        <div class="textoevnthome">
                       <!-- <p id="contacto">Dirección: <br>  <a target="_blank" href="https://goo.gl/maps/87f6xqTb3Fo"><i class="fa fa-map-marker" aria-hidden="true"></i>
 Teatinos 416, Stgo Centro</a></p> -->
                        <p id="contacto" style="margin-top:-50px;">Entradas Online: <br> <a target="_blank" href="https://www.passline.com/eventos/traumer-francia--gettraum-3-aniversario-fonda-mental"><img src="http://res.cloudinary.com/quetzalss/image/upload/v1535583946/passline/passline-01.png" style="width:60%;margin-bottom:-60px;"></a></p>  
                        <p id="contacto">Entradas Directas: <br> <a target="_blank" href="https://api.whatsapp.com/send?phone=56972909385&text=Hola,%20quiero%20entradas%20para%20...%20"><i class="fa fa-whatsapp" aria-hidden="true"></i> +569 7290 9385</a></p>
                        <%# <div class="imagen_evento"></div> %>
                        <p id="descripcion">"El sueño es un arte poético involuntario" <br> - Emmanuel Kant </p>
                        <!-- <div class="line_up">
                        <hr>
                        <div class="texto">
                            <h3>Line Up</h3>
                            <p><%= render 'galery/vinilicon' %> Hugues ID/Francia</p>
                            <p><%= render 'galery/vinilicon' %> Daniel Parra/Concepcion</p>
                            <p><%= render 'galery/vinilicon' %> Notfamous/Santiago</p>
                            <p><%= render 'galery/vinilicon' %> OJOSBIENCERRADOS/Santiago</p>
                        </div> 
                        <%= cl_image_tag("lineup/line_street4.jpg" , class: "aficheprinc") %> 
                    </div> -->
                    
                </div>  
            </div>
    </div>

    <div class="imageslide" style="margin-top:0px">
        <div class="imagen_home2"></div>
    </div>
</div>