<% @title = "Home" %>

<%
=begin %>
    <div class="proxevent" style="color:#D4D4D4;">
        <%# <h1>Proximo Evento</h1> %>
        <%= image_tag("abrecielo.jpg" , class: "aficheprinc") %>
        <div class="textoevnthome">
                <h3 id="proxprog">Vi 24 - Do 26 Noviembre</h3>
                <h3 id="dondeprox">Cabildo, Chile, V Región</h3>
                <p id="contacto">Entradas: <br> <a href="https://api.whatsapp.com/send?phone=56981852306&text=Hola%20estoy%20interesad@%20en%20las%20entradas%20para%20Abrecielo"><i class="fa fa-whatsapp" aria-hidden="true"></i> +569 8185 2306</a></p>
                <p id="descripcion">Abramos el cielo al paisaje de las estrellas fugaces, a la caída de los meteoritos, al incandescente camino de los cometas!</p>
                <div class="line_up">
                <hr>
                    <div class="texto">
                        <h3>Line Up</h3>
                        <p><%= render 'galery/vinilicon' %> Inti Kunza + Koby Perc - Chile/La Chimba Discos</p>
                        <p><%= render 'galery/vinilicon' %> Daniel Parra - Chile/Sonido Likido</p>
                        <p><%= render 'galery/vinilicon' %> Ricardo Molinari - Chile/Pacha CL</p>
                        <p><%= render 'galery/vinilicon' %> Sarnival - España/UFO Group/Advance Techno</p>
                        <p><%= render 'galery/vinilicon' %> Lisa Cropp - Alemania/Fonda Mental</p>
                        <p><%= render 'galery/vinilicon' %> Jean Madry - Francia/Fonda Mental</p>
                        <p><%= render 'galery/vinilicon' %> Deniroster Lab - Francia/Fonda Mental</p>
                        <p><%= render 'galery/vinilicon' %> Agustin Klein - Argentina/Sousa Label</p>
                        <p><%= render 'galery/vinilicon' %> Okin - Francia</p>
                        <p><%= render 'galery/vinilicon' %> Mer Esnal - Argentina</p>
                        <p><%= render 'galery/vinilicon' %> Sebastián Cárcamo - Chile</p>
                        <p><%= render 'galery/vinilicon' %> Hawer Sanchez - Colombia/NO NAME</p>
                    </div>
                    <%= image_tag("abrecieloline.jpg" , class: "aficheprinc") %>
                <hr>
                </div>
                <p id="descripcion">Preventas - $30.000 (120 cupos) Incluye:</p>
                    <ul id="incluye">
                    <li>Entrada al Festival</li>
                    <li>Transporte ida/vuelta a Cabildo, V Region</li>
                    <li>2 noches de camping (duchas y baños)</li>
                    <li>30 horas de Música</li>
                    <li>12 Djs</li>
                    <li>Sonido Funktion One</li>
                    <li>Piscina Natural</li>
                    <li>Food Trucks</li>
                    <li>Barra a precio justo</li>
                </ul>
                <p id="dondeprox">Nos vemos en el pasto...</p>
                
                
                 
            </div>
    </div>
<% 
=end %>
    
<div class="main_content" style="color:#D4D4D4;">

    <div class="imageslide">
        <div class="imagen_home1"></div>
    </div>
    
    <div class="proxevent" style="color:#D4D4D4;">
        <div class="textoevnthome">
                <h1 class="homepodcast">Próximas Fechas</h1>
                <!-- <div class="imagen_evento">
                    <h1>Viernes 20 de Abril</h1>
                </div> -->
                <div class="proxfecha">
                <video preload autoplay muted loop src="http://res.cloudinary.com/quetzalss/video/upload/v1522285424/video/asylum_teaser1.mp4"></video>
                        <a target="_blank" href="https://www.facebook.com/events/1730953920284188/"><%= cl_image_tag("afiches/asylum.jpg" , class: "aficheprinc") %></a>
                                <p id="contacto">Entradas: <br> <a target="_blank" href="https://api.whatsapp.com/send?phone=56972909385&text=Hola,%20quiero%20entradas%20para%20Asylum%20"><i class="fa fa-whatsapp" aria-hidden="true"></i> +569 7290 9385</a></p>
                                <p id="descripcion">"Los locos abren los caminos que más tarde recorren los sabios" <br> - Carlo Dossi</p>
                            <div class="line_up">
                <hr>
                     <div class="texto">
                        <h3>Line Up</h3>
                        <p><%= render 'galery/vinilicon' %> Volatile - Chile/Music Matters</p>
                        <p><%= render 'galery/vinilicon' %> Lisa Cropp - Alemania/Fonda Mental</p>
                        <p><%= render 'galery/vinilicon' %> Roman & Castro - Chile/Pirotecnia</p>
                    </div> 
                    <%= cl_image_tag("lineup/lineasylum.jpg" , class: "aficheprinc") %> 
                </div>
                </div>
            </div>
    </div>

    <div style="margin-top:90px" class="imageslide">
        <div class="imagen_home2"></div>
    </div>

    <div class="homecloud">
        <h1 class="homepodcast">Nuestros Podcasts</h1>
        <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/407794173&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
        <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/402547215&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
        <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/397056894&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
        <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/388592058&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
        <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/383645801&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
        <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/378365171&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
        <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/374727311&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
        <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/370514738&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
        <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/363696887&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
        <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/366870704&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
    </div> 

    

</div>

