<% @title = "Home" %>

<%
=begin %>
    <div class="proxevent" style="color:#D4D4D4;">
        <%# <h1>Proximo Evento</h1> %>
        <%= image_tag("abrecielo.jpg" , class: "aficheprinc") %>
        <div class="textoevnthome">
                <h3 id="proxprog">Vi 24 - Do 26 Noviembre</h3>
                <h3 id="dondeprox">Cabildo, Chile, V Región</h3>
                <p id="contacto">Entradas: <br> <a href="https://api.whatsapp.com/send?phone=56981852306&text=Hola%20estoy%20interesad@%20en%20las%20entradas%20para%20Abrecielo"><i class="fa fa-whatsapp" aria-hidden="true"></i> +569 8185 2306</a></p>
                <p id="descripcion">Abramos el cielo al paisaje de las estrellas fugaces, a la caída de los meteoritos, al incandescente camino de los cometas!</p>
                <div class="line_up">
                <hr>
                    <div class="texto">
                        <h3>Line Up</h3>
                        <p><%= render 'galery/vinilicon' %> Inti Kunza + Koby Perc - Chile/La Chimba Discos</p>
                        <p><%= render 'galery/vinilicon' %> Daniel Parra - Chile/Sonido Likido</p>
                        <p><%= render 'galery/vinilicon' %> Ricardo Molinari - Chile/Pacha CL</p>
                        <p><%= render 'galery/vinilicon' %> Sarnival - España/UFO Group/Advance Techno</p>
                        <p><%= render 'galery/vinilicon' %> Lisa Cropp - Alemania/Fonda Mental</p>
                        <p><%= render 'galery/vinilicon' %> Jean Madry - Francia/Fonda Mental</p>
                        <p><%= render 'galery/vinilicon' %> Deniroster Lab - Francia/Fonda Mental</p>
                        <p><%= render 'galery/vinilicon' %> Agustin Klein - Argentina/Sousa Label</p>
                        <p><%= render 'galery/vinilicon' %> Okin - Francia</p>
                        <p><%= render 'galery/vinilicon' %> Mer Esnal - Argentina</p>
                        <p><%= render 'galery/vinilicon' %> Sebastián Cárcamo - Chile</p>
                        <p><%= render 'galery/vinilicon' %> Hawer Sanchez - Colombia/NO NAME</p>
                    </div>
                    <%= image_tag("abrecieloline.jpg" , class: "aficheprinc") %>
                <hr>
                </div>
                <p id="descripcion">Preventas - $30.000 (120 cupos) Incluye:</p>
                    <ul id="incluye">
                    <li>Entrada al Festival</li>
                    <li>Transporte ida/vuelta a Cabildo, V Region</li>
                    <li>2 noches de camping (duchas y baños)</li>
                    <li>30 horas de Música</li>
                    <li>12 Djs</li>
                    <li>Sonido Funktion One</li>
                    <li>Piscina Natural</li>
                    <li>Food Trucks</li>
                    <li>Barra a precio justo</li>
                </ul>
                <p id="dondeprox">Nos vemos en el pasto...</p>
                
                
                 
            </div>
    </div>
<% 
=end %>
    
<div class="main_content" style="color:#D4D4D4;">

    <div class="imageslide">
        <div class="imagen_home1"></div>
    </div>
     <div class="proxevent" style="color:#D4D4D4;">
            <div class="textoevnthome">
                <h1 class="homepodcast">Próximas Fechas</h1>
                <div class="imagen_evento">
                    
                 </div>
               <div class="proxfecha" style="margin-bottom: 100px;">
                        <!-- <div id="carousel" class="owl-carousel owl-theme">
                        </div> 

                        <div class="afiche-slide">
                            <a target="_blank" href="https://www.facebook.com/events/2261914910694055/"><%= cl_image_tag("afiches/street_life_5.jpg" , class: "aficheprinc") %></a>
                        </div> -->
                        
                        <div id="valores">
                            <a target="_blank" href="https://www.facebook.com/events/2261914910694055/"><%= cl_image_tag("afiches/ano_nuevo_disco_driver.jpg", class: "aficheprinc afichevalores") %></a>
                            <div>
                               <!-- <p id="contacto">Entradas Online: <br> <a target="_blank" href="https://www.passline.com/eventos/fonda-mental-closing--outsiderz"><img style="width:60%;" src="http://res.cloudinary.com/quetzalss/image/upload/v1535583946/passline/passline-01.png" style="width:60%;margin-bottom:-60px;"></a></p> -->
                                <p id="contacto">Entradas: <br> <a target="_blank" href="https://api.whatsapp.com/send?phone=56972909385&text=Hola,%20quiero%20entradas%20para%20...%20"><i class="fa fa-whatsapp" aria-hidden="true"></i> +569 7290 9385</a></p>
                            </div>
                        </div> 
                        <div class="textoevnthome">
                        <p id="contacto">Dirección: <br>  <a target="_blank" href="https://www.google.com/maps/place/Av.+Alemania,+Mirador+Camogli,+Valpara%C3%ADso,+Regi%C3%B3n+de+Valpara%C3%ADso/@-33.0536648,-71.6275852,17z/data=!4m13!1m7!3m6!1s0x9689e121649a2b39:0xc4e2dee7827b6cb!2sAv.+Alemania,+Mirador+Camogli,+Valpara%C3%ADso,+Regi%C3%B3n+de+Valpara%C3%ADso!3b1!8m2!3d-33.0536721!4d-71.6254083!3m4!1s0x9689e121649a2b39:0xc4e2dee7827b6cb!8m2!3d-33.0536721!4d-71.6254083"><i class="fa fa-map-marker" aria-hidden="true"></i>
    Mirador Camogli - Av. Alemana, Valparaíso</a></p>
                            
                            <%# <div class="imagen_evento"></div> %>
                            
                             <div class="line_up">
                            <hr>
                            <div class="texto">
                                <h3>Line Up</h3>
                                <p style="color:#58E5DA;">Entrada: $8.000</p> 
                                <p style="color:#F2D989;"><%= render 'galery/vinilicon' %> Luca Ruiz / MAGIE NOIRE – Dernier Cri - FR</p>
                                <p style="color:#58E5DA;"><%= render 'galery/vinilicon' %> Copo & Xole / Valle Alegre Records - CH</p>
                                <p style="color:#F2D989;"><%= render 'galery/vinilicon' %> Nico Olmos / Valle Alegre Records - CH)</p>
                            </div>
                            <p id="descripcion">"Para lo que es del futuro, no se trata de preverlo pero de hacerlo posible!" <br> - Antoine de Saint-Exupéry </p>
                            <!-- <%= cl_image_tag("lineup/line_street4.jpg" , class: "aficheprinc") %> -->
                        </div>
                    </div>
                </div>  
            </div>
    </div>

    <div class="imageslide" style="margin-top:0px">
        <div class="imagen_home2"></div>
    </div>
</div>

