<% @title = "Home" %>

<%
=begin %>
    <div class="proxevent" style="color:#D4D4D4;">
        <%# <h1>Proximo Evento</h1> %>
        <%= image_tag("abrecielo.jpg" , class: "aficheprinc") %>
        <div class="textoevnthome">
                <h3 id="proxprog">Vi 24 - Do 26 Noviembre</h3>
                <h3 id="dondeprox">Cabildo, Chile, V Región</h3>
                <p id="contacto">Entradas: <br> <a href="https://api.whatsapp.com/send?phone=56981852306&text=Hola%20estoy%20interesad@%20en%20las%20entradas%20para%20Abrecielo"><i class="fa fa-whatsapp" aria-hidden="true"></i> +569 8185 2306</a></p>
                <p id="descripcion">Abramos el cielo al paisaje de las estrellas fugaces, a la caída de los meteoritos, al incandescente camino de los cometas!</p>
                <div class="line_up">
                <hr>
                    <div class="texto">
                        <h3>Line Up</h3>
                        <p><%= render 'galery/vinilicon' %> Inti Kunza + Koby Perc - Chile/La Chimba Discos</p>
                        <p><%= render 'galery/vinilicon' %> Daniel Parra - Chile/Sonido Likido</p>
                        <p><%= render 'galery/vinilicon' %> Ricardo Molinari - Chile/Pacha CL</p>
                        <p><%= render 'galery/vinilicon' %> Sarnival - España/UFO Group/Advance Techno</p>
                        <p><%= render 'galery/vinilicon' %> Lisa Cropp - Alemania/Fonda Mental</p>
                        <p><%= render 'galery/vinilicon' %> Jean Madry - Francia/Fonda Mental</p>
                        <p><%= render 'galery/vinilicon' %> Deniroster Lab - Francia/Fonda Mental</p>
                        <p><%= render 'galery/vinilicon' %> Agustin Klein - Argentina/Sousa Label</p>
                        <p><%= render 'galery/vinilicon' %> Okin - Francia</p>
                        <p><%= render 'galery/vinilicon' %> Mer Esnal - Argentina</p>
                        <p><%= render 'galery/vinilicon' %> Sebastián Cárcamo - Chile</p>
                        <p><%= render 'galery/vinilicon' %> Hawer Sanchez - Colombia/NO NAME</p>
                    </div>
                    <%= image_tag("abrecieloline.jpg" , class: "aficheprinc") %>
                <hr>
                </div>
                <p id="descripcion">Preventas - $30.000 (120 cupos) Incluye:</p>
                    <ul id="incluye">
                    <li>Entrada al Festival</li>
                    <li>Transporte ida/vuelta a Cabildo, V Region</li>
                    <li>2 noches de camping (duchas y baños)</li>
                    <li>30 horas de Música</li>
                    <li>12 Djs</li>
                    <li>Sonido Funktion One</li>
                    <li>Piscina Natural</li>
                    <li>Food Trucks</li>
                    <li>Barra a precio justo</li>
                </ul>
                <p id="dondeprox">Nos vemos en el pasto...</p>
                
                
                 
            </div>
    </div>
<% 
=end %>
    
<div class="main_content" style="color:#D4D4D4;">

    <div class="imageslide">
        <div class="imagen_home1"></div>
    </div>
    
    <div class="proxevent" style="color:#D4D4D4;">
            <div class="textoevnthome">
                <h1 class="homepodcast">Próximas Fechas</h1>
                <div class="imagen_evento">
                    
                 </div>
               <div class="proxfecha" style="margin-bottom: 100px;">
              <video preload loop muted autoplay>
                    <source src="https://res.cloudinary.com/quetzalss/video/upload/ac_none/v1538404428/video/final_acelerado_medio.mp4" type="video/mp4">
                </video>
                      <div id="carousel" class="owl-carousel owl-theme">
                            <div class="afiche-slide">
                                <a  target="_blank" href="https://www.facebook.com/events/233446797311746/"><%= cl_image_tag("afiches/lamaquinaquesuena.jpg" , class: "aficheprinc") %></a>
                            </div>
                            <div class="afiche-slide">
                                <a  target="_blank" href="https://www.facebook.com/events/684175075273683/"><%= cl_image_tag("afiches/banner_street_haiti.jpg" , class: "aficheprinc") %></a>
                            </div>
                        </div>
                       <!-- <p id="contacto">Dirección: <br>  <a target="_blank" href="https://goo.gl/maps/87f6xqTb3Fo"><i class="fa fa-map-marker" aria-hidden="true"></i>
 Teatinos 416, Stgo Centro</a></p> -->
                        <p id="contacto" style="margin-top:-50px;">Entradas Online: <br> <a target="_blank" href="https://www.passline.com/eventos/traumer-francia--gettraum-3-aniversario-fonda-mental"><img src="http://res.cloudinary.com/quetzalss/image/upload/v1535583946/passline/passline-01.png" style="width:60%;margin-bottom:-60px;"></a></p>  
                        <p id="contacto">Entradas Directas: <br> <a target="_blank" href="https://api.whatsapp.com/send?phone=56972909385&text=Hola,%20quiero%20entradas%20para%20...%20"><i class="fa fa-whatsapp" aria-hidden="true"></i> +569 7290 9385</a></p>
                        <%# <div class="imagen_evento"></div> %>
                        <p id="descripcion">"El sueño es un arte poético involuntario" <br> - Emmanuel Kant </p>
                        <!-- <div class="line_up">
                        <hr>
                        <div class="texto">
                            <h3>Line Up</h3>
                            <p><%= render 'galery/vinilicon' %> Hugues ID/Francia</p>
                            <p><%= render 'galery/vinilicon' %> Daniel Parra/Concepcion</p>
                            <p><%= render 'galery/vinilicon' %> Notfamous/Santiago</p>
                            <p><%= render 'galery/vinilicon' %> OJOSBIENCERRADOS/Santiago</p>
                        </div> 
                        <%= cl_image_tag("lineup/line_street4.jpg" , class: "aficheprinc") %> 
                    </div> -->
                    
                </div>  
            </div>
    </div>

    <div style="margin-top:0px" class="imageslide">
        <div class="imagen_home2"></div>
    </div>

</div>

