<div id="jean_madry" class="sidenav" style="z-index: 1000;">
    <a href="javascript:void(0)" class="closebtn" onclick="closeJean()">&times;</a>
    <div class="galeriasidedj">
        <%= render 'jean_madry'%>
    </div>
</div>

<div id="lisa_cropp" class="sidenav" style="z-index: 1000;">
    <a href="javascript:void(0)" class="closebtn" onclick="closeLisa()">&times;</a>
    <div class="galeriasidedj">
        <%= render 'lisa_cropp'%>
    </div>
</div>

<div id="deniroster" class="sidenav" style="z-index: 1000;">
    <a href="javascript:void(0)" class="closebtn" onclick="closeDeni()">&times;</a>
    <div class="galeriasidedj">
        <%= render 'deniroster'%>
    </div>
</div>

<div id="okin" class="sidenav" style="z-index: 1000;">
    <a href="javascript:void(0)" class="closebtn" onclick="closeOkin()">&times;</a>
    <div class="galeriasidedj">
        <%= render 'okin'%>
    </div>
</div>

<div class="galeria_princ">
    <div class="imagen_evento" onclick="openJean()">
        <h1>JEAN MADRY (FRANCIA)</h1>
        <%= cl_image_tag("records/jeanmadry/madry_perfil.jpg", class: "galerynav") %>
    </div>

    <div class="imagen_evento" onclick="openLisa()">
        <h1>LISA CROPP (ALEMANIA)</h1>
        <%= cl_image_tag("records/lisacropp/lcropp_foto.jpg", class: "galerynav") %>
    </div>

    <div class="imagen_evento" onclick="openDeni()">
        <h1>DENIROSTER (FRANCIA)</h1>
        <%= cl_image_tag("records/deniroster/deni_perfil.jpg", class: "galerynav") %>
    </div>

    <div class="imagen_evento" onclick="openOkin()">
        <h1>OKIN (FRANCIA)</h1>
        <%= cl_image_tag("records/okin/okin_perfil.jpg", class: "galerynav") %>
    </div>
</div>

<script>
    function openJean() {
        document.getElementById("jean_madry").style.width = "100%";
        $('nav').removeClass('nav-down').addClass('nav-up');
    }

    function closeJean() {
        document.getElementById("jean_madry").style.width = "0";
        $('nav').removeClass('nav-up').addClass('nav-down');
    }

    function openLisa() {
        document.getElementById("lisa_cropp").style.width = "100%";
        $('nav').removeClass('nav-down').addClass('nav-up');
    }

    function closeLisa() {
        document.getElementById("lisa_cropp").style.width = "0";
        $('nav').removeClass('nav-up').addClass('nav-down');
    }

    function openDeni() {
        document.getElementById("deniroster").style.width = "100%";
        $('nav').removeClass('nav-down').addClass('nav-up');
    }

    function closeDeni() {
        document.getElementById("deniroster").style.width = "0";
        $('nav').removeClass('nav-up').addClass('nav-down');
    }

    function openOkin() {
        document.getElementById("okin").style.width = "100%";
        $('nav').removeClass('nav-down').addClass('nav-up');
    }

    function closeOkin() {
        document.getElementById("okin").style.width = "0";
        $('nav').removeClass('nav-up').addClass('nav-down');
    }
</script>