<% @title = "Fechas | Records" %>

<div class="main_content">

    

    <%# <div class="info" id="info">
        <button class="accordion fechasrecords" id="accordion">
            <br> Lisa Cropp <br>
            <i class="fa fa-angle-down" aria-hidden="true"></i>
            <i class="fa fa-angle-up" aria-hidden="true"></i>
        </button>

        
        
    </div> %>
<div class="filtros_fechas">
    <h2>Filtrar:</h2>
    <div class="filtro_grid">
    <button class="filtros_fechas" id="filtrolisa" onclick = "soloLisa()">Lisa Cropp</button>
    <button class="filtros_fechas" id="filtrojean" onclick = "soloJean()">Jean Madry</button>
    <button class="filtros_fechas" id="filtrodeni" onclick = "soloDeni()">Deniroster</button>
    <button class="filtros_fechas filtrokin" id"filtrookin" onclick = "soloOkin()">Okin</button>
    <button class="filtros_fechas filtro_activo" id="todos" onclick = "todosDjs()">Todas</button>
    </div>
</div>

    <div class="panel eventos eventos">
            
            <div class="recordsevento lisa_cropp">
            <div class="infofechas">
                <%= link_to 'https://www.facebook.com/events/364592150667826/', class: ["soundj"], :target => '_blanc' do %>
            <i class="face_event fa fa-facebook-square fa-3x" aria-hidden="true" style="margin-top: 2rem;"></i>
            <% end %>
                <div class="textopanel">
                    <h3>22/12/2017</h3>
                    <h3>Showcase Fonda Mental Records</h3>
                    <h3>Club Zócalo</h3>
                </div>
            </div>
            <div class="afiche">
                <%= cl_image_tag("records/lisacropp/showcasefonda.jpg" , class: "afiche") %>
            </div>
            </div>

            <div class="recordsevento lisa_cropp">
            <div class="afiche">
                <%= cl_image_tag("records/lisacropp/lcropp_madry_ciclodocu.png" , class: "afiche") %>
            </div>
            <div class="infofechas">
                <%= link_to 'https://www.facebook.com/events/573225706342201/?event_time_id=573225709675534', class: ["soundj"], :target => '_blanc' do %>
            <i class="face_event fa fa-facebook-square fa-3x" aria-hidden="true" style="margin-top: 2rem;"></i>
            <% end %>
                <div class="textopanel">
                    <h3>09/12/2017</h3>
                    <h3>Ciclo de Cine y Documentales Rave + Fiesta</h3>
                    <h3>Espacio 93, Bellavista</h3>
                </div>
            </div>
            </div>
            
            <div class="recordsevento lisa_cropp">
            <div class="infofechas">
                <div class="textopanel">
                    <h3>02/12/2017</h3>
                    <h3>Sesiones Bocacalle Vol.22</h3>
                </div>
            </div>
            <div class="afiche">
            <%= cl_image_tag("records/lisacropp/lcropp_bocacalle22.png" , class: "afiche") %>
            </div>
            </div>
            
            <div class="recordsevento lisa_cropp">
            <div class="afiche">
            <%= cl_image_tag("records/lisacropp/lcropp_deni_jmadry_abrecielo.png" , class: "afiche") %>
            </div>
            <div class="infofechas">
            <%= link_to 'https://www.facebook.com/events/489284251445984/', class: ["soundj"], :target => '_blanc' do %>
            <i class="fa fa-facebook-square fa-3x" aria-hidden="true" style="margin-top: 2rem;"></i>
            <% end %>
                <div class="textopanel">
                    <h3>24 - 26/11/2017</h3>
                    <h3>Festival Abrecielo</h3>
                    <h3>Cabildo V Región</h3>
                </div>
            </div>
            </div>
            
            <div class="recordsevento lisa_cropp">
            <div class="infofechas">
            <%= link_to 'https://www.facebook.com/events/1956145677986378/', class: ["soundj"], :target => '_blanc' do %>
            <i class="fa fa-facebook-square fa-3x" aria-hidden="true" style="margin-top: 2rem;"></i>
            <% end %>
                <div class="textopanel">
                    <h3>21/11/2017</h3>
                    <h3>I Love Martech</h3>
                    <h3>Club Zócalo (ex Nave Luna)</h3>
                </div>
            </div>
            <div class="afiche">
            <%= cl_image_tag("records/lisacropp/lcropp_martech.png" , class: "afiche") %>
            </div>
            </div>
            
            <div class="recordsevento lisa_cropp">
            <div class="afiche">
            <%= cl_image_tag("records/lisacropp/deni_lcropp_4_11.png" , class: "afiche") %>
            </div>
            <div class="infofechas">
            <%= link_to 'https://www.facebook.com/events/127232407941019/', class: ["soundj"], :target => '_blanc' do %>
            <i class="fa fa-facebook-square fa-3x" aria-hidden="true" style="margin-top: 2rem;"></i>
            <% end %>
                <div class="textopanel">
                    <h3>04/11/2017</h3>
                    <h3>Terraza Nomade</h3>
                    <h3>Valparaíso</h3>
                </div>
            </div>
            </div>
            
            <div class="recordsevento lisa_cropp">
            <div class="infofechas">
            <%= link_to 'https://www.facebook.com/events/1448538521933478/', class: ["soundj"], :target => '_blanc' do %>
            <i class="fa fa-facebook-square fa-3x" aria-hidden="true" style="margin-top: 2rem;"></i>
            <% end %>
                <div class="textopanel">
                    <h3>03/11/2017</h3>
                    <h3>Ajna #3 Violeta Lunar</h3>
                    <h3>Soltar piso 12</h3>
                </div>
            </div>
            <div class="afiche">
            <%= cl_image_tag("records/lisacropp/lcropp_violeta.png" , class: "afiche") %>
            </div>
            </div>
            
            <div class="recordsevento lisa_cropp">
            <div class="afiche">
            <%= cl_image_tag("records/lisacropp/lcropp_beeunder.png" , class: "afiche") %>
            </div>
            <div class="infofechas">
            <%= link_to 'https://www.facebook.com/events/132623017464171/', class: ["soundj"], :target => '_blanc' do %>
            <i class="fa fa-facebook-square fa-3x" aria-hidden="true" style="margin-top: 2rem;"></i>
            <% end %>
                <div class="textopanel">
                    <h3>21/10/2017</h3>
                    <h3>Beeunder Gold Edition</h3>
                    <h3>Soltar piso 12</h3>
                </div>
            </div>
            </div>
            <div class="recordsevento lisa_cropp">
            <div class="infofechas">
            <%= link_to 'https://www.facebook.com/events/1323082084480591/', class: ["soundj"], :target => '_blanc' do %>
            <i class="fa fa-facebook-square fa-3x" aria-hidden="true" style="margin-top: 2rem;"></i>
            <% end %>
                <div class="textopanel">
                    <h3>13/10/2017</h3>
                    <h3>Ajna #2 Resistencia Indígena</h3>
                    <h3>Soltar piso 12</h3>
                </div>
            </div>
            <div class="afiche">
            <%= cl_image_tag("records/lisacropp/lcropp_resistencia.png" , class: "afiche") %>
            </div>
            </div>
            
            <div class="recordsevento lisa_cropp">
            <div class="afiche">
            <%= cl_image_tag("records/lisacropp/lcropp_nomade.png" , class: "afiche") %>
            </div>
            <div class="infofechas">
            <%= link_to 'https://www.facebook.com/events/136751103601810/', class: ["soundj"], :target => '_blanc' do %>
            <i class="fa fa-facebook-square fa-3x" aria-hidden="true" style="margin-top: 2rem;"></i>
            <% end %>
                <div class="textopanel">
                    <h3>09/09/2017</h3>
                    <h3>Terraza Nomade</h3>
                    <h3>Valparaíso</h3>
                </div>
            </div>
            </div>
            
            <div class="recordsevento lisa_cropp">
            <div class="infofechas">
            <%= link_to 'https://www.facebook.com/events/1395550287161547/', class: ["soundj"], :target => '_blanc' do %>
            <i class="fa fa-facebook-square fa-3x" aria-hidden="true" style="margin-top: 2rem;"></i>
            <% end %>
                <div class="textopanel">
                    <h3>08/09/2017</h3>
                    <h3>Furia Patria - Fonda Mental</h3>
                    <h3>Club Greta</h3>
                </div>
            </div>
            <div class="afiche">
            <%= cl_image_tag("records/lisacropp/lcropp_jmadry_furiapatria.png" , class: "afiche") %>
            </div>
            </div>
            
            <div class="recordsevento lisa_cropp">
            <div class="afiche">
            <%= cl_image_tag("records/lisacropp/lcropp_hijasnoche.png" , class: "afiche") %>
            </div>
            <div class="infofechas">
            <%= link_to 'https://www.facebook.com/events/1431885810227056/', class: ["soundj"], :target => '_blanc' do %>
            <i class="fa fa-facebook-square fa-3x" aria-hidden="true" style="margin-top: 2rem;"></i>
            <% end %>
                <div class="textopanel">
                    <h3>01/09/2017</h3>
                    <h3>Ajna #1 Hijas de la Noche</h3>
                    <h3>Soltar piso 12</h3>
                </div>
            </div>
            </div>
            
            <div class="recordsevento lisa_cropp">
            <div class="infofechas">
            <%= link_to 'https://www.facebook.com/events/1566112276793056/', class: ["soundj"], :target => '_blanc' do %>
            <i class="fa fa-facebook-square fa-3x" aria-hidden="true" style="margin-top: 2rem;"></i>
            <% end %>
                <div class="textopanel">
                    <h3>11/08/2017</h3>
                    <h3>Wilkommen</h3>
                    <h3>Secret Spot</h3>
                </div>
            </div>
            <div class="afiche">
            <%= cl_image_tag("records/lisacropp/deni_lcropp_wilkommen.png" , class: "afiche") %>
            </div>
            </div>
            
            <div class="recordsevento lisa_cropp">
            <div class="afiche">
            <%= cl_image_tag("records/lisacropp/lcropp_lapipol.png" , class: "afiche") %>
            </div>
            <div class="infofechas">
            <%= link_to 'https://www.facebook.com/events/1739060616392904/', class: ["soundj"], :target => '_blanc' do %>
            <i class="fa fa-facebook-square fa-3x" aria-hidden="true" style="margin-top: 2rem;"></i>
            <% end %>
                <div class="textopanel">
                    <h3>21/06/2017</h3>
                    <h3>La Pipol Vol.3</h3>
                    <h3>Nave Luna</h3>
                </div>
            </div>
            </div>

            <div class="recordsevento lisa_cropp">
            <div class="infofechas">
            <%= link_to 'https://www.facebook.com/events/1674582112849264/', class: ["soundj"], :target => '_blanc' do %>
            <i class="fa fa-facebook-square fa-3x" aria-hidden="true" style="margin-top: 2rem;"></i>
            <% end %>
                <div class="textopanel">
                    <h3>08 - 09/06/2017</h3>
                    <h3>Festival Ancestral</h3>
                    <h3>Cajon del Maipo</h3>
                </div>
            </div>
            <div class="afiche">
            <%= cl_image_tag("records/lisacropp/lcropp_ancestral.png" , class: "afiche") %>
            </div>
            </div>
            
            <div class="recordsevento lisa_cropp">
            <div class="afiche">
            <%= cl_image_tag("records/lisacropp/lcropp_bocacalle.png" , class: "afiche") %>
            </div>
            <div class="infofechas">
            <%= link_to 'https://www.facebook.com/events/378907625840341/', class: ["soundj"], :target => '_blanc' do %>
            <i class="fa fa-facebook-square fa-3x" aria-hidden="true" style="margin-top: 2rem;"></i>
            <% end %>
                <div class="textopanel">
                    <h3>31/05/2017</h3>
                    <h3>Sesiónes Bocacalle Vol.4</h3>
                    <h3>Club le Banque</h3>
                </div>
            </div>
            </div>

            <div class="recordsevento lisa_cropp">
            <div class="infofechas">
            <%= link_to 'https://www.facebook.com/events/1535457806466516/', class: ["soundj"], :target => '_blanc' do %>
            <i class="fa fa-facebook-square fa-3x" aria-hidden="true" style="margin-top: 2rem;"></i>
            <% end %>
                <div class="textopanel">
                    <h3>19/05/2017</h3>
                    <h3>Casona House - Fonda Mental Showcase</h3>
                    <h3>Club le Banque</h3>
                </div>
            </div>
            <div class="afiche">
            <%= cl_image_tag("records/lisacropp/lcropp_casonahouse.png" , class: "afiche") %>
            </div>
            </div>
            
            <div class="recordsevento lisa_cropp">
            <div class="afiche">
            <%= cl_image_tag("records/lisacropp/lcropp_physical.png" , class: "afiche") %>
            </div>
            <div class="infofechas">
            <%= link_to 'https://www.facebook.com/events/411228555920249', class: ["soundj"], :target => '_blanc' do %>
            <i class="fa fa-facebook-square fa-3x" aria-hidden="true" style="margin-top: 2rem;"></i>
            <% end %>
                <div class="textopanel">
                    <h3>21/04/2017</h3>
                    <h3>Physical - Fonda Mental</h3>
                    <h3>Casona Calle Rosas</h3>
                </div>
            </div>
            </div>
            
            <div class="recordsevento lisa_cropp">
            <div class="infofechas">
            <%= link_to 'https://www.facebook.com/events/1781885218745110/', class: ["soundj"], :target => '_blanc' do %>
            <i class="fa fa-facebook-square fa-3x" aria-hidden="true" style="margin-top: 2rem;"></i>
            <% end %>
                <div class="textopanel">
                    <h3>19/11/2016</h3>
                    <h3>Femmes Fatales - Fonda Mental</h3>
                    <h3>Teatro Caupolican</h3>
                </div>
            </div>
            <div class="afiche">
            <%= cl_image_tag("records/lisacropp/lisacropp_femmesfatales.png" , class: "afiche") %>
            </div>
            </div>

            <div class="recordsevento lisa_cropp">
            <div class="afiche">
            <%= cl_image_tag("records/lisacropp/lcropp_redlight.png" , class: "afiche") %>
            </div>
            <div class="infofechas">
            <%= link_to 'https://www.facebook.com/events/528738243985270/', class: ["soundj"], :target => '_blanc' do %>
            <i class="fa fa-facebook-square fa-3x" aria-hidden="true" style="margin-top: 2rem;"></i>
            <% end %>
                <div class="textopanel">
                    <h3>29/07/2016</h3>
                    <h3>Redlight - Fonda Mental</h3>
                    <h3>Casa Brasil</h3>
                </div>
            </div>
            </div>

            <div class="recordsevento lisa_cropp">
            <div class="infofechas">
            <%= link_to 'https://www.facebook.com/events/1021538454609775/', class: ["soundj"], :target => '_blanc' do %>
            <i class="fa fa-facebook-square fa-3x" aria-hidden="true" style="margin-top: 2rem;"></i>
            <% end %>
                <div class="textopanel">
                    <h3>16/07/2016</h3>
                    <h3>Alquimia</h3>
                    <h3>Club Radicales</h3>
                </div>
            </div>
            <div class="afiche">
            <%= cl_image_tag("records/lisacropp/lcropp_alquimia.png" , class: "afiche") %>
            </div>
        </div>
        </div>

    <div class="panel eventos eventos">
            
            <div class="recordsevento deniroster">
            <div class="afiche">
            <%= cl_image_tag("records/lisacropp/showcasefonda.jpg" , class: "afiche") %>
            </div>
            <div class="infofechas">
            <%= link_to 'https://www.facebook.com/events/364592150667826/', class: ["soundj"], :target => '_blanc' do %>
            <i class="fa fa-facebook-square fa-3x" aria-hidden="true" style="margin-top: 2rem;"></i>
            <% end %>
                <div class="textopanel">
                    <h3>22/12/2017</h3>
                    <h3>Showcase Fonda Mental Records</h3>
                    <h3>Club Zócalo</h3>
                </div>
            </div>
            </div>
            
            <div class="recordsevento deniroster">
            <div class="infofechas">
            <%= link_to 'https://www.facebook.com/events/489284251445984/', class: ["soundj"], :target => '_blanc' do %>
            <i class="fa fa-facebook-square fa-3x" aria-hidden="true" style="margin-top: 2rem;"></i>
            <% end %>
                <div class="textopanel">
                    <h3>24 - 26/11/2017</h3>
                    <h3>Festival Abrecielo</h3>
                    <h3>Cabildo V Región</h3>
                </div>
            </div>
            <div class="afiche">
            <%= cl_image_tag("records/lisacropp/lcropp_deni_jmadry_abrecielo.png" , class: "afiche") %>
            </div>
            </div>
            
            <div class="recordsevento deniroster">
            <div class="afiche">
            <%= cl_image_tag("records/deniroster/deni_lcropp_4_11.jpg" , class: "afiche") %>
            </div>
            <div class="infofechas">
            <%= link_to 'https://www.facebook.com/events/127232407941019/', class: ["soundj"], :target => '_blanc' do %>
            <i class="fa fa-facebook-square fa-3x" aria-hidden="true" style="margin-top: 2rem;"></i>
            <% end %>
                <div class="textopanel">
                    <h3>04/11/2017</h3>
                    <h3>Terraza Nomade</h3>
                    <h3>Valparaíso</h3>
                </div>
            </div>
            </div>
            
            <div class="recordsevento deniroster">
            <div class="infofechas">
            <%= link_to 'https://www.facebook.com/events/1326531010736202/', class: ["soundj"], :target => '_blanc' do %>
            <i class="fa fa-facebook-square fa-3x" aria-hidden="true" style="margin-top: 2rem;"></i>
            <% end %>
                <div class="textopanel">
                    <h3>18/08/2017</h3>
                    <h3>La Cour Des Miracles - Fonda Mental</h3>
                    <h3>Barrio Brasil</h3>
                </div>
            </div>
            <div class="afiche">
            <%= cl_image_tag("records/deniroster/deni_lacour.jpg" , class: "afiche") %>
            </div>
            </div>
            
            <div class="recordsevento deniroster">
            <div class="afiche">
            <%= cl_image_tag("records/deniroster/deni_lapipol.jpg" , class: "afiche") %>
            </div>
            <div class="infofechas">
            <%= link_to 'https://www.facebook.com/events/313541595783800/', class: ["soundj"], :target => '_blanc' do %>
            <i class="fa fa-facebook-square fa-3x" aria-hidden="true" style="margin-top: 2rem;"></i>
            <% end %>
                <div class="textopanel">
                    <h3>16/08/2017</h3>
                    <h3>La Pipol</h3>
                    <h3>Nave Luna</h3>
                </div>
            </div>
            </div>
            
            <div class="recordsevento deniroster">
            <div class="infofechas">
            <%= link_to 'https://www.facebook.com/events/1566112276793056/', class: ["soundj"], :target => '_blanc' do %>
            <i class="fa fa-facebook-square fa-3x" aria-hidden="true" style="margin-top: 2rem;"></i>
            <% end %>
                <div class="textopanel">
                    <h3>11/08/2017</h3>
                    <h3>Wilkommen</h3>
                    <h3>Secret Spot</h3>
                </div>
            </div>
            <div class="afiche">
            <%= cl_image_tag("records/deniroster/deni_lcropp_wilkommen.jpg" , class: "afiche") %>
            </div>
            </div>
            
            <div class="recordsevento deniroster">
            <div class="afiche">
            <%= cl_image_tag("records/deniroster/deni_zocain.jpg" , class: "afiche") %>
            </div>
            <div class="infofechas">
            <%= link_to 'https://www.facebook.com/events/1632409737056054/', class: ["soundj"], :target => '_blanc' do %>
            <i class="fa fa-facebook-square fa-3x" aria-hidden="true" style="margin-top: 2rem;"></i>
            <% end %>
                <div class="textopanel">
                    <h3>11/03/2017</h3>
                    <h3>Zocain</h3>
                    <h3>Lonquen Sur</h3>
                </div>
            </div>
            </div>
        </div>

    <%# <div class="info" id="info">
        <button class="accordion fechasrecords" id="accordion">
            <br> Deniroster <br>
            <i class="fa fa-angle-down" aria-hidden="true"></i>
            <i class="fa fa-angle-up" aria-hidden="true"></i>
        </button>


        
    </div> %>

    <div class="panel eventos">

            <div class="recordsevento jean_madry">
            <div class="infofechas">
            <%= link_to 'https://www.facebook.com/events/364592150667826/', class: ["soundj"], :target => '_blanc' do %>
            <i class="fa fa-facebook-square fa-3x" aria-hidden="true" style="margin-top: 2rem;"></i>
            <% end %>
                <div class="textopanel">
                    <h3>22/12/2017</h3>
                    <h3>Showcase Fonda Mental Records</h3>
                    <h3>Club Zócalo</h3>
                </div>
            </div>
            <div class="afiche">
            <%= cl_image_tag("records/lisacropp/showcasefonda.jpg" , class: "afiche") %>
            </div>
            </div>

            <div class="recordsevento jean_madry">
            <div class="afiche">
                <%= cl_image_tag("records/lisacropp/lcropp_madry_ciclodocu.png" , class: "afiche") %>
            </div>
            <div class="infofechas">
                <%= link_to 'https://www.facebook.com/events/573225706342201/?event_time_id=573225709675534', class: ["soundj"], :target => '_blanc' do %>
            <i class="face_event fa fa-facebook-square fa-3x" aria-hidden="true" style="margin-top: 2rem;"></i>
            <% end %>
                <div class="textopanel">
                    <h3>09/12/2017</h3>
                    <h3>Ciclo de Cine y Documentales Rave + Fiesta</h3>
                    <h3>Espacio 93, Bellavista</h3>
                </div>
            </div>
            </div>

            <div class="recordsevento jean_madry">
            <div class="infofechas">
            <%= link_to 'https://www.facebook.com/events/489284251445984/', class: ["soundj"], :target => '_blanc' do %>
            <i class="fa fa-facebook-square fa-3x" aria-hidden="true" style="margin-top: 2rem;"></i>
            <% end %>
                <div class="textopanel">
                    <h3>24 - 26/11/2017</h3>
                    <h3>Festival Abrecielo</h3>
                    <h3>Cabildo V Región</h3>
                </div>
            </div>
            <div class="afiche">
            <%= cl_image_tag("records/lisacropp/lcropp_deni_jmadry_abrecielo.png" , class: "afiche") %>
            </div>
            </div>
            
            <div class="recordsevento jean_madry">
            <div class="afiche">
            <%= cl_image_tag("records/jeanmadry/jmadry_petit.png" , class: "afiche") %>
            </div>
            <div class="infofechas">
                <div class="textopanel">
                    <h3>17/11/2017</h3>
                    <h3>Petit Comité</h3>
                    <h3>Pichilemu</h3>
                </div>
            </div>
            </div>
            
            <div class="recordsevento jean_madry">
            <div class="infofechas">
            <%= link_to 'https://www.facebook.com/events/1395550287161547/', class: ["soundj"], :target => '_blanc' do %>
            <i class="fa fa-facebook-square fa-3x" aria-hidden="true" style="margin-top: 2rem;"></i>
            <% end %>
                <div class="textopanel">
                    <h3>08/09/2017</h3>
                    <h3>Furia Patria - Fonda Mental</h3>
                    <h3>Club Greta</h3>
                </div>
                </div>
                <div class="afiche">
                    <%= cl_image_tag("records/lisacropp/lcropp_jmadry_furiapatria.png" , class: "afiche") %>
                </div>
            </div>
            
            <div class="recordsevento jean_madry">
            <div class="afiche">
            <%= cl_image_tag("lineup/linefreefall.jpg" , class: "afiche") %>
            </div>
            <div class="infofechas">
            <%= link_to 'https://www.facebook.com/events/661971157324228/', class: ["soundj"], :target => '_blanc' do %>
            <i class="fa fa-facebook-square fa-3x" aria-hidden="true" style="margin-top: 2rem;"></i>
            <% end %>
                <div class="textopanel">
                    <h3>16/06/2017</h3>
                    <h3>Free Fall - Fonda Mental</h3>
                    <h3>Club Greta</h3>
                </div>
            </div>
            </div>
            
            <div class="recordsevento jean_madry">
            <div class="infofechas">
            <%= link_to 'https://www.facebook.com/events/1389037067848635/', class: ["soundj"], :target => '_blanc' do %>
            <i class="fa fa-facebook-square fa-3x" aria-hidden="true" style="margin-top: 2rem;"></i>
            <% end %>
                <div class="textopanel">
                    <h3>27/04/2017</h3>
                    <h3>Crisma We are Back</h3>
                    <h3>Nave Luna</h3>
                </div>
            </div>
            <div class="afiche">
            <%= cl_image_tag("records/jeanmadry/jmadry_crisma.jpg" , class: "afiche") %>
            </div>
            </div>
            
            <div class="recordsevento jean_madry">
            <div class="afiche">
            <%= cl_image_tag("records/jeanmadry/jmadry_leveltech.jpg" , class: "afiche") %>
            </div>
            <div class="infofechas">
            <%= link_to 'https://www.facebook.com/events/1948143358749175/', class: ["soundj"], :target => '_blanc' do %>
            <i class="fa fa-facebook-square fa-3x" aria-hidden="true" style="margin-top: 2rem;"></i>
            <% end %>
                <div class="textopanel">
                    <h3>07/04/2017</h3>
                    <h3>Level Tech</h3>
                    <h3>Nave Luna</h3>
                </div>
            </div>
            </div>
        </div>

    <%# <div class="info" id="info">
        <button class="accordion fechasrecords" id="accordion">
            <br> Jean Madry <br>
            <i class="fa fa-angle-down" aria-hidden="true"></i>
            <i class="fa fa-angle-up" aria-hidden="true"></i>
        </button>


        
    </div> %>

    <div class="panel eventos">
            
            <div class="recordsevento okin">
            <div class="infofechas">
            <%= link_to 'https://www.facebook.com/events/134862890558044/', class: ["soundj"], :target => '_blanc' do %>
            <i class="fa fa-facebook-square fa-3x" aria-hidden="true" style="margin-top: 2rem;"></i>
            <% end %>
                <div class="textopanel">
                    <h3>09/12/2017</h3>
                    <h3>Noche Francesa</h3>
                    <h3>M Club, Valparaíso</h3>
                </div>
                </div>
                <div class="afiche">
                    <%= cl_image_tag("records/okin/okin_bautista.jpg" , class: "afiche") %>
                </div>
            </div>

            <div class="recordsevento okin">
            <div class="afiche">
            <%= cl_image_tag("records/okin/okin_bourbon.jpg" , class: "afiche") %>
            </div>
            <div class="infofechas">
                <div class="textopanel">
                    <h3>07/12/2017</h3>
                    <h3>Bourbon Night</h3>
                    <h3>Quilpue</h3>
                </div>
            </div>
            </div>

            <div class="recordsevento okin">
            <div class="infofechas">
            <%= link_to 'https://www.facebook.com/events/489284251445984/', class: ["soundj"], :target => '_blanc' do %>
            <i class="fa fa-facebook-square fa-3x" aria-hidden="true" style="margin-top: 2rem;"></i>
            <% end %>
                <div class="textopanel">
                    <h3>24 - 26/11/2017</h3>
                    <h3>Festival Abrecielo</h3>
                    <h3>Cabildo V Región</h3>
                </div>
            </div>
            <div class="afiche">
            <%= cl_image_tag("records/lisacropp/lcropp_deni_jmadry_abrecielo.png" , class: "afiche") %>
            </div>
            </div>

            <div class="recordsevento okin">
            <div class="afiche">
            <%= cl_image_tag("records/okin/okin_arrayan.jpg" , class: "afiche") %>
            </div>
            <div class="infofechas">
            <%= link_to 'https://www.facebook.com/events/1281705515239429/', class: ["soundj"], :target => '_blanc' do %>
            <i class="fa fa-facebook-square fa-3x" aria-hidden="true" style="margin-top: 2rem;"></i>
            <% end %>
                <div class="textopanel">
                    <h3>26/03/2017</h3>
                    <h3>Arrayan Sünset</h3>
                    <h3>Valparaíso</h3>
                </div>
            </div>
            </div>
            
        </div>

    <%# <div class="info" id="info">
        <button class="accordion fechasrecords" id="accordion">
            <br> Okin <br>
            <i class="fa fa-angle-down" aria-hidden="true"></i>
            <i class="fa fa-angle-up" aria-hidden="true"></i>
        </button>


        
    </div> %>



</div>
