<% @title = "Playlists" %>

<div class="info playlink">
    <%= link_to(musica_playlist_si_te_he_visto_no_me_acuerdo_path) do %>
        <span style="color:#f2d989;">Kata Mercado</span> - Si te he visto, no me acuerdo
    <% end %>
</div>

<div class="info playlink">
    <%= link_to(musica_playlist_tausendundeine_nacht_path) do %>
        <span style="color:#f2d989;">Lisa Cropp</span> - Tausendundeine Nacht
    <% end %>
</div>

<div class="info playlink">
    <%= link_to(musica_playlist_el_fundo_path) do %>
        <span style="color:#f2d989;">Dj 11undo</span> - El Fundo
    <% end %>
</div>

<div class="info playlink">
    <%= link_to(musica_playlist_techno_is_the_answer_path) do %>
        <span style="color:#f2d989;">Sarnival</span> - Techno is the Answer
    <% end %>
</div>

<div class="info playlink">
    <%= link_to(musica_playlist_abya_yala_path) do %>
        <span style="color:#f2d989;">On Wax</span> - Abya-Yala
    <% end %>
</div>

<div class="info playlink">
    <%= link_to(musica_playlist_resultados_sexuales_path) do %>
        <span style="color:#f2d989;">512 TR</span> - Resultados Sexuales
    <% end %>
</div>
 
<div class="info playlink">
    <%= link_to(musica_playlist_funk_on_the_table_path) do %>
        <span style="color:#f2d989;">Mario Bross</span> - Funk on the Table
    <% end %>
</div>

<div class="info playlink">
    <%= link_to(musica_playlist_dance_italiana_lover_path) do %>
        <span style="color:#f2d989;">Diegors</span> - Dance Italiana Lover
    <% end %>
</div>

<div class="info playlink">
    <%= link_to(musica_playlist_la_caminata_nocturna_en_el_bosque_path) do %>
        <span style="color:#f2d989;">NeM</span> - La Caminata Nocturna en el Bosque
    <% end %>
</div>

<div class="info playlink">
    <%= link_to(musica_playlist_a_blast_from_the_past_musica_para_viajar_al_pasado_path) do %>
        <span style="color:#f2d989;">DJ Haiti</span> - A blast from the past (music para viajar al pasado)
    <% end %>
</div>

<div class="info playlink">
    <%= link_to(musica_playlist_yo_tambien_escucho_pequenas_voces_en_mi_cabeza_path) do %>
        <span style="color:#f2d989;">Marie Coiffure</span> - Yo también escucho pequeñas voces en mi cabeza!
    <% end %>
</div>

<div class="info playlink">
    <%= link_to(musica_playlist_enfant_home_path) do %>
        <span style="color:#f2d989;">Ortega</span> - Enfant Home
    <% end %>
</div>

<div class="info playlink">
    <%= link_to(musica_playlist_angustia_path) do %>
        <span style="color:#f2d989;">Erika</span> - Angustia
    <% end %>
</div>

<div class="info playlink">
    <%= link_to(musica_playlist_fiesta_de_la_patria_grande_path) do %>
        <span style="color:#f2d989;">Fischermann</span> - Fiesta de la Patria Grande
    <% end %>
</div>

<div class="info playlink">
    <%= link_to(musica_playlist_looking_for_the_deep_path) do %>
        <span style="color:#f2d989;">Quetzal</span> - Looking for the Deep
    <% end %>
</div>

<div class="info playlink">
    <%= link_to(musica_playlist_para_bailar_con_tu_sombra_quien_mas_te_conoce_path) do %>
        <span style="color:#f2d989;">Camilo Gil</span> - Para bailar con tu sombra (quien mas te conoce)
    <% end %>
</div>

<div class="info playlink">
    <%= link_to(musica_playlist_electronical_kind_of_blues_path) do %>
        <span style="color:#f2d989;">Chand'l Moraless</span> - Electronical Kind of Blues
    <% end %>
</div>

<div class="info playlink">
    <%= link_to(musica_playlist_observatorio_pacifico_de_drops_path) do %>
        <span style="color:#f2d989;">Escobar Gallardo [Ojosbiencerraos]</span> - Observatorio Pacifico de Drops
    <% end %>
</div>

<div class="info playlink">
    <%= link_to(musica_playlist_cuando_sale_el_sol_path) do %>
        <span style="color:#f2d989;">Theo Merca</span> - Cuando Sale el Sol
    <% end %>
</div>

<div class="info playlink">
    <%= link_to(musica_playlist_inerte_camino_porteno_path) do %>
        <span style="color:#f2d989;">Inerte</span> - Camino Porteño
    <% end %>
</div>



