<% @title = "Playlists" %>

<div class="info playlink">
    <%= link_to "Camilo Gil - Para bailar con tu sombra (quien mas te conoce)", musica_playlist_para_bailar_con_tu_sombra_quien_mas_te_conoce_path %>   
</div>

<div class="info playlink">
    <%= link_to "Chand'l Moraless - Electronical Kind of Blues", musica_playlist_electronical_kind_of_blues_path %>   
</div>

<div class="info playlink">
    <%= link_to "Escobar Gallardo [Ojosbiencerraos] - Observatorio Pacifico de Drops", musica_playlist_observatorio_pacifico_de_drops_path %>   
</div>

<div class="info playlink">
    <%= link_to "Theo Merca - Cuando Sale el Sol", musica_playlist_cuando_sale_el_sol_path %>   
</div>

<div class="info playlink">
    <%= link_to "Inerte - Camino Porteño", musica_playlist_inerte_camino_porteno_path %>   
</div>



