<% @title = "Playlists" %>

<div class="info playlink">
    <%= link_to(musica_playlist_yo_tambien_escucho_pequenas_voces_en_mi_cabeza_path) do %>
        <span style="color:#f2d989;">Marie Coiffure</span> - Yo también escucho pequeñas voces en mi cabeza!
    <% end %>
</div>

<div class="info playlink">
    <%= link_to(musica_playlist_enfant_home_path) do %>
        <span style="color:#f2d989;">Ortega</span> - Enfant Home
    <% end %>
</div>

<div class="info playlink">
    <%= link_to(musica_playlist_angustia_path) do %>
        <span style="color:#f2d989;">Erika</span> - Angustia
    <% end %>
</div>

<div class="info playlink">
    <%= link_to(musica_playlist_fiesta_de_la_patria_grande_path) do %>
        <span style="color:#f2d989;">Fischermann</span> - Fiesta de la Patria Grande
    <% end %>
</div>

<div class="info playlink">
    <%= link_to(musica_playlist_looking_for_the_deep_path) do %>
        <span style="color:#f2d989;">Quetzal</span> - Looking for the Deep
    <% end %>
</div>

<div class="info playlink">
    <%= link_to(musica_playlist_para_bailar_con_tu_sombra_quien_mas_te_conoce_path) do %>
        <span style="color:#f2d989;">Camilo Gil</span> - Para bailar con tu sombra (quien mas te conoce)
    <% end %>
</div>

<div class="info playlink">
    <%= link_to(musica_playlist_electronical_kind_of_blues_path) do %>
        <span style="color:#f2d989;">Chand'l Moraless</span> - Electronical Kind of Blues
    <% end %>
</div>

<div class="info playlink">
    <%= link_to(musica_playlist_observatorio_pacifico_de_drops_path) do %>
        <span style="color:#f2d989;">Escobar Gallardo [Ojosbiencerraos]</span> - Observatorio Pacifico de Drops
    <% end %>
</div>

<div class="info playlink">
    <%= link_to(musica_playlist_cuando_sale_el_sol_path) do %>
        <span style="color:#f2d989;">Theo Merca</span> - Cuando Sale el Sol
    <% end %>
</div>

<div class="info playlink">
    <%= link_to(musica_playlist_inerte_camino_porteno_path) do %>
        <span style="color:#f2d989;">Inerte</span> - Camino Porteño
    <% end %>
</div>



