<!DOCTYPE html>
<html>
  <head>
    <title>Fonda Mental</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="<%= asset_path 'fondatitulo.png' %>">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application',
    'https://fonts.googleapis.com/css?family=Work+Sans',
     media: 'all', 'data-turbolinks-track' => true %>
    
    
    
  </head>

  <body>
    <div class="pagina">
       <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-angle-up fa-2x" aria-hidden="true"></i>
</button> 
      <nav>
          <div id="logonav">
             <%= link_to image_tag("fonda_blanco.png", class: "logonav"), root_path %>
          </div>
         
          

          <div class="repro">
            <audio id="music" preload="true"  >
              <source src="/audios/2-1.mp3">
              <source src="4.ogg">
            </audio>
              
              <audio id="music1" preload="true"  >
              <source src="/audios/1.mp3">
              <source src="">
            </audio>

              <!--Audio Player Interface-->
              <div id="audioplayer">
                <div id="timeline">
                  <div id="playhead"></div>
                </div>
                <button id="pButton" class="play"></button>
              </div>
              </div>

              
                <div class="menu" id="myTopnav">
                <a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars " aria-hidden="true"></i></a>
                <%= link_to "Historia", historia_path, class: "itemen" %>
                <%= link_to "Eventos", eventos_path, class: "itemen" %>

                <!-- <div class="media">
                   <button class="dropdown">
                       Media
                   </button>
                   <div id="dropi" class="dropdown_content">
                       <%= link_to "Fotos", fotos_path %>
                       <%= link_to "videos", videos_path %>
                   </div>
                </div> -->
                <%= link_to "Media", media_path, class: "itemen" %>
                <%= link_to "Blog", blog_path, class: "itemen" %>
                
              </div>
              
              
        </nav>

        <div class="main_content">
         <%= yield %>
        </div>
        


       <div class="footer">
          <div class="socialnet">
            <%= link_to 'https://soundcloud.com/fonda_mental', :class => 'sim1', :target => '_blanc' do %>
              <i class="sim1 fa fa-soundcloud fa-2x" aria-hidden="true"></i>
              <% end %> 
            <%= link_to 'https://www.facebook.com/fondamental.chile/', :class => 'sim2', :target => '_blanc' do %>
              <i class="sim2 fa fa-facebook-official fa-2x" aria-hidden="true"></i>
              <% end %> 
            <%= link_to 'https://www.instagram.com/fonda_mental/', :class => 'sim3', :target => '_blanc' do %>
              <i class="sim3 fa fa-instagram fa-2x" aria-hidden="true"></i>
              <% end %> 
          </div> 
      </div>
    </div>
  </body>
</html>
