<!DOCTYPE html>
<html>
  <head>
    <title>Fonda Mental</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="<%= asset_path 'fondatitulo.png' %>">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= stylesheet_link_tag 'application',
    'https://fonts.googleapis.com/css?family=Work+Sans|Lato|Abril+Fatface|Gravitas+One|Hind|Rubik+Mono+One|Open+Sans+Condensed:300|Open+Sans',
     media: 'all', 'data-turbolinks-track' => true %>
     <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.min.js"></script>


    <script>

    
     
      // player
 
        
document.addEventListener("DOMContentLoaded", function(event) {
    

   
    var music = document.getElementById('music'); // id for audio element
    var duration; // Duration of audio clip
    var pButton = document.getElementById('pButton'); // play button
    var playhead = document.getElementById('playhead'); // playhead
    var timeline = document.getElementById('timeline'); // timeline
    
    // timeline width adjusted for playhead
    var timelineWidth = timeline.offsetWidth - playhead.offsetWidth;
    
    // play button event listenter
    pButton.addEventListener("click", play);
    
    // timeupdate event listener
    music.addEventListener("timeupdate", timeUpdate, false);
     music.currentTime = 0;
    // makes timeline clickable
    timeline.addEventListener("click", function(event) {
        moveplayhead(event);
        music.currentTime = duration * clickPercent(event);
    }, false);
    
    // returns click as decimal (.77) of the total timelineWidth
    function clickPercent(event) {
        return (event.clientX - getPosition(timeline)) / timelineWidth;
    
    }
    
    // makes playhead draggable
    playhead.addEventListener('mousedown', mouseDown, false);
    window.addEventListener('mouseup', mouseUp, false);
    
    // Boolean value so that audio position is updated only when the playhead is released
    var onplayhead = false;
    
    // mouseDown EventListener
    function mouseDown() {
        onplayhead = true;
        window.addEventListener('mousemove', moveplayhead, true);
        music.removeEventListener('timeupdate', timeUpdate, false);
    }
    
    // mouseUp EventListener
    // getting input from all mouse clicks
    function mouseUp(event) {
        if (onplayhead == true) {
            moveplayhead(event);
            window.removeEventListener('mousemove', moveplayhead, true);
            // change current time
            music.currentTime = duration * clickPercent(event);
            music.addEventListener('timeupdate', timeUpdate, false);
        }
        onplayhead = false;
    }
    // mousemove EventListener
    // Moves playhead as user drags
    function moveplayhead(event) {
        var newMargLeft = event.clientX - getPosition(timeline);
    
        if (newMargLeft >= 0 && newMargLeft <= timelineWidth) {
            playhead.style.marginLeft = newMargLeft + "px";
        }
        if (newMargLeft < 0) {
            playhead.style.marginLeft = "0px";
        }
        if (newMargLeft > timelineWidth) {
            playhead.style.marginLeft = timelineWidth + "px";
        }
    }
    
    // timeUpdate
    // Synchronizes playhead position with current point in audio
    function timeUpdate() {
        var playPercent = timelineWidth * (music.currentTime / duration);
        playhead.style.marginLeft = playPercent + "px";
        if (music.currentTime == duration) {
            pButton.className = "";
            pButton.className = "play";
        }
    }
    
    //Play and Pause
    function play() {
        var a = document.getElementsByTagName('audio');
        // start music
        if (music.paused) {
            music.play();
            // remove play, add pause
            pButton.className = "";
            pButton.className = "pause";
        } else { // pause music
            music.pause();
            // remove pause, add play
            pButton.className = "";
            pButton.className = "play";
        }
    }
    
    // Gets audio file duration
    music.addEventListener("canplaythrough", function() {
        duration = music.duration;
    }, false);
    
    // getPosition
    // Returns elements left position relative to top-left of viewport
    function getPosition(el) {
        return el.getBoundingClientRect().left;
    }
    
    /* DOMContentLoaded*/
    });
    </script>
     
  
  </head>

  <body>
  <div class="cargando">
    <%= image_tag("fondatitulo.png" , class: "cargando-img fa-spin") %>
  </div>
  
    <div class="pagina">
       <button  id="myBtn" title="Go to top"><i class="fa fa-angle-up fa-2x" aria-hidden="true"></i>
</button> 
      <nav>
          <div id="logonav">
             <%= link_to image_tag("fonda_blanco.png", class: "logonav"), root_path %>
          </div>
         
          

          <div class="repro" id="unico" data-turbolinks-permanent>
            <audio id="music" preload="true" data-turbolinks-permanent>
              <source src="/audios/2-1.mp3">
              <source src="4.ogg">
            </audio>
              
              <audio id="music1" preload="true"  >
              <source src="/audios/1.mp3">
              <source src="">
            </audio>

              <!--Audio Player Interface-->
              <div id="audioplayer" data-turbolinks-permanent>
                <div id="timeline">
                  <div id="playhead"></div>
                </div>
                <button id="pButton" class="play"></button>
              </div>
              </div>

                
                <div class="menu" id="myTopnav">
                <a href="javascript:void(0);" class="icon" onclick="responsiveMenu()"><i class="fa fa-bars " aria-hidden="true"></i></a>
                <div class="menuitems">
                  <%= link_to "Historia", historia_path, class: ["itemen", cp(historia_path)] %> 
                  <%= link_to "Programa", eventos_path, class: ["itemen", cp(eventos_path)] %>
                  <%= link_to "Galeria", galeria_path, class: ["itemen", cp(galeria_path)] %>
                  <%= link_to "Blog", blog_path, class: ["itemen", cp(blog_path)] %>
                </div>
              </div>
              
              
        </nav>

        <div class="main_content">
         <%= yield %>
        </div>
        
        


       <div class="footer" id="footer">
          <div class="socialnet">
            <%= link_to 'https://soundcloud.com/fonda_mental', class: ["sim1"], :target => '_blanc' do %>
              <i class="sim1 fa fa-soundcloud fa-2x animated" aria-hidden="true"></i>
              <% end %> 
            <%= link_to 'https://www.facebook.com/fondamental.chile/', class: ["sim2", "animated"], :target => '_blanc' do %>
              <i class="sim2 fa fa-facebook-official fa-2x" aria-hidden="true"></i>
              <% end %> 
            <%= link_to 'https://www.instagram.com/fonda_mental/', class: ["sim3", "animated"], :target => '_blanc' do %>
              <i class="sim3 fa fa-instagram fa-2x" aria-hidden="true"></i>
              <% end %> 
          </div> 
      </div>
    </div>
     

    
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
