<!DOCTYPE html>
<html>
  <head>
    <title>Fonda Mental</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="pagina">
      <nav>

          <!-- <img src="/images/fonda_blanco.png" alt="logo" class="logonav"> -->
          <%= image_tag("fonda_blanco.png", class: "logonav") %>

          <div class="repro">
            <audio id="music" preload="true" autoplay >
              <source src="/audios/1.mp3">
              <source src="4.ogg">
            </audio>

              <!--Audio Player Interface-->
              <div id="audioplayer">
                <div id="timeline">
                  <div id="playhead"></div>
                </div>
                <button id="pButton" class="pause"></button>
              </div>
              </div>

              <div class="menu">
                <%= link_to "Fonda Mental", fonda_mental_path %>
                <%= link_to "Sobre Nosotros", fonda_mental_path %>
                <a href="">Eventos</a>
                <div class="media">
                   <button class="dropdown">
                       Media
                   </button>
                   <div id="dropi" class="dropdown_content">
                       <a href="">Fotos</a>
                       <a href="">Video</a>
                   </div>
                </div>
                <a href="">Shop</a>
                <a href="">Blog</a>
              </div>
        </nav>


        <%= yield %>


      <div class="footer">
          <div class="socialnet">
            <i class="sim1 fa fa-soundcloud fa-2x" aria-hidden="true"></i>
            <i class="sim2 fa fa-facebook-official fa-2x" aria-hidden="true"></i>
            <i class="sim3 fa fa-instagram fa-2x" aria-hidden="true"></i>
          </div>
      </div>
    </div>
  </body>
</html>
