<!DOCTYPE html>
<html>
  <head>
    <title>Fonda Mental</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="<%= asset_path 'fondatitulo.png' %>">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application',
    'https://fonts.googleapis.com/css?family=Work+Sans|Lato|Abril+Fatface|Gravitas+One|Hind|Rubik+Mono+One',
     media: 'all', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <div class="pagina">
       <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-angle-up fa-2x" aria-hidden="true"></i>
</button> 
      <nav>
          <div id="logonav">
             <%= link_to image_tag("fonda_blanco.png", class: "logonav"), root_path %>
          </div>
         
          

          <div class="repro">
            <audio id="music" preload="true"  >
              <source src="/audios/2-1.mp3">
              <source src="4.ogg">
            </audio>
              
              <audio id="music1" preload="true"  >
              <source src="/audios/1.mp3">
              <source src="">
            </audio>

              <!--Audio Player Interface-->
              <div id="audioplayer">
                <div id="timeline">
                  <div id="playhead"></div>
                </div>
                <button id="pButton" class="play"></button>
              </div>
              </div>

                
                <div class="menu" id="myTopnav">
                <a href="javascript:void(0);" class="icon" onclick="responsiveMenu()"><i class="fa fa-bars " aria-hidden="true"></i></a>
                <div class="menuitems">
                  <%= link_to "Historia", historia_path, class: ["itemen", cp(historia_path)] %> 
                  <%= link_to "Calendario", eventos_path, class: ["itemen", cp(eventos_path)] %>
                  <%= link_to "Galeria", galeria_path, class: ["itemen", cp(galeria_path)] %>
                  <%= link_to "Blog", blog_path, class: ["itemen", cp(blog_path)] %>
                </div>
              </div>
              
              
        </nav>

        <div class="main_content">
         <%= yield %>
        </div>
        
        


       <div class="footer" id="footer">
          <div class="socialnet">
            <%= link_to 'https://soundcloud.com/fonda_mental', class: ["sim1"], :target => '_blanc' do %>
              <i class="sim1 fa fa-soundcloud fa-2x animated" aria-hidden="true"></i>
              <% end %> 
            <%= link_to 'https://www.facebook.com/fondamental.chile/', class: ["sim2", "animated"], :target => '_blanc' do %>
              <i class="sim2 fa fa-facebook-official fa-2x" aria-hidden="true"></i>
              <% end %> 
            <%= link_to 'https://www.instagram.com/fonda_mental/', class: ["sim3", "animated"], :target => '_blanc' do %>
              <i class="sim3 fa fa-instagram fa-2x" aria-hidden="true"></i>
              <% end %> 
          </div> 
      </div>
    </div>
     
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

   
    <script>
      function responsiveMenu() {
        var x = document.getElementById("myTopnav");
        if (x.className === "menu") {
            x.className += " responsive";
        } else {
            x.className = "menu";
          }
        } 
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
      
  </body>
</html>
